include ../components/button/button.pug
include ../components/text-field/text-field.pug
include ../components/radio-button/radio-button.pug
include ../components/masked-field/masked-field.pug
include ../components/toggle-button/toggle-button.pug
include ../components/card-slider-room/card-slider-room.pug
include ../components/rate-button/rate-button.pug
include ../components/email-subscribe/email-subscribe.pug
include ../components/range-slider/range-slider.pug
include ../components/like-button/like-button.pug
include ../components/room-feature/room-feature.pug
include ../components/expend-checkbox/expend-checkbox.pug
include ../components/bullet-list/bullet-list.pug
include ../components/check-boxes/check-boxes.pug
include ../components/rich-check-box/rich-check-box.pug
include ../components/header-buttons/header-buttons.pug
include ../components/cards/cards.pug
include ../components/forms/forms.pug
include ../components/header/header.pug
include ../components/footer-big/footer-big.pug
include ../components/footer-small/footer-small.pug
include ../components/colors-types/colors-types.pug
include ../components/card-room-detail/card-room-detail.pug
include ../components/card-login/card-login.pug
include ../components/card-search-room/card-search-room.pug
include ../components/card-register/card-register.pug
include ../components/dropdown-guest/dropdown-guest.pug
include ../components/dropdown-guest-repeat/dropdown-guest-repeat.pug
include ../components/dropdown-room/dropdown-room.pug
include ../components/review/review.pug
include ../components/data-dd-filter/data-dd-filter.pug
include ../components/data-dropdown/data-dropdown.pug
include ../components/pagination/pagination.pug
doctype html
html
    head
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Toxin Hotel
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png")
        link(rel="manifest" href="./favicons/site.webmanifest")
        link(rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        main
            .header-buttons
                +header-buttons({
                    list:[{content: "Home",active: true, link: './uikit-page.html'},
                        {content:"About Us"},
                        {content: "Services"},
                        {content: "Careers"},
                        {content: "News"},
                        {content: "Documentation"}
                    ],
                    loginButtonStyle: "border",
                    loginButton: "login",
                    registerButtonStyle: "fill",
                    registerButton: "register"
                    })
            .header-margin
                +header([
                    {content: "Home",active: true},
                    {content:"About Us"},
                    {content: "Services"},
                    {content: "Careers"},
                    {content: "News"},
                    {content: "Documentation"}
                ])
            .footer-big-margin
                +footer-big({
                    list:{
                        navigation:{
                            header: "navigation",
                            itemList:["About Us", "News", "Support", "Products"]
                        },
                        aboutUs:{
                            header: "about us",
                            itemList:["Who we are", "Our team", "Careers", "Investors"]
                        },
                    support:{
                            header: "support",
                            itemList:["Documentation", "News", "Community", "Get in touch"]
                        }
                    },
                    subscribeContent: "Receive our latest news and promotions in your inbox!",
                    subscribeHeadline: "subscribe to ours newsletter",
                    logoContent: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis. ",
                    emailId: "email",
                    emailPlaceholder: "Your email address",
                    copyrightContent: "Copyright © 2018 Toxin UI Kit. All rights reserved."
                    })
            .footer-small-margin
                +footer-small({
                    content: "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis. "
                })
            .colors-type
                .wrapper
                    +colors-types([
                        {
                            class: "square",
                            name: "Dark Shade 100%",
                            hex: "#1F2041"
                        },
                       {
                            class: "square _75",
                            name: "Dark Shade 75%",
                            hex: "#1F2041"
                        },
                        {
                            class: "square _50",
                            name: "Dark Shade 50%",
                            hex: "#1F2041"
                        },
                        {
                            class: "square _25",
                            name: "Dark Shade 25%",
                            hex: "#1F2041"
                        },
                        {
                            class: "square _5",
                            name: "Dark Shade 5%",
                            hex: "#1F2041"
                        },
                        {
                            class: "square purple",
                            name: "Purple",
                            hex: "#bc9cff"
                        },
                        {
                            class: "square green",
                            name: "Green",
                            hex: "#6fcf97"
                        }
                    ])
            .form-elements
                .wrapper
                    +forms({
                        textfieldId: "textfield",
                        textfieldPlaceholder: "Email",
                        textfieldType: "text",
                        maskedTextId: "maskedText",
                        maskedTextPlaceholder: "ДД.ММ.ГГГГ",
                        emailSubId: "subs2",
                        emailSubPlaceholder: "Your email address",
                        roomFeatureComfort: {
                                imgName: "comfort",
                                header: "Комфорт",
                                body: "Шумопоглощающие стены"
                            },
                        roomFeatureUdobstvo: {
                                imgName: "udobstvo",
                                header: "Удобство",
                                body: "Окно в каждой из спален"
                            },
                        radioId1: "test1",
                        radioId2: "test2",
                        radioContent1: "Мужчина",
                        radioContent2: "Женщина",
                        radioName: "radio-group",
                        toggleButtonId: "cbx",
                        likeCount: 5,
                        ratingNumber0: 0,
                        rangeSliderLabel: "Range Slider",
                        buttonFillContent: "click me",
                        buttonFillStyle: "fill",
                        buttonBorderContent: "click me",
                        buttonBorderStyle: "border",
                        buttonLongContent: "перейти к оплате",
                        buttonLongStyle: "long"
                    })
            .cards-block
                .wrapper
                    .flex-wrapper
                        +cards({
                            cardLogin:{
                                header: "Войти",
                                emailField: {
                                    id: "loginEmail",
                                    placeholder: "Email",
                                    type: "email"
                                },
                                passwordField: {
                                    id: "loginPass",
                                    placeholder: "Пароль",
                                    type: "password"
                                },
                                buttonLongContent: "Войти",
                                buttonLongStyle: "long",
                                buttonBorderContent: "создать",
                                buttonBorderStyle: "border"
                            },
                            cardRegister:{
                                header:"Регистрация аккаунта",
                                textfieldName: {
                                    id: "name",
                                    placeholder: "Имя",
                                    type: "text"
                                },
                                textfieldLastname: {
                                    id: "lastname",
                                    placeholder: "Фамилия",
                                    type: "text"
                                },
                                radiobuttonMan: {
                                    id: "test3",
                                    content: "Мужчина",
                                    name: "group"
                                },
                                radiobuttonWoman: {
                                    id: "test4",
                                    content: "Женщина",
                                    name: "group"
                                },
                                maskedText: {
                                    id: "birthday",
                                    placeholder: "ДД.ММ.ГГГГ"
                                },
                                emailField: {
                                    id: "regEmail",
                                    placeholder: "Email",
                                    type: "email"
                                },
                                passwordField: {
                                    id: "regPass",
                                    placeholder: "Пароль",
                                    type: "password"
                                },
                                toggleButtonId: "mailing",
                                buttonLongContent: "Перейти к оплате",
                                buttonLongStyle: "long",
                                buttonBorderContent: "войти",
                                buttonBorderStyle: "border",
                                offer: "Получать спецпредложения",
                                birth: "дата рождения",
                                enterData: "данные для входа в сервис"
                            },
                            searchRoom:{
                                header: "Найдем номера под ваши пожелания",
                                buttonLongContent: "подобрать номер",
                                buttonLongStyle: "long"
                            },
                            roomDetail:{
                                number: "888",
                                price: "9 990",
                                days: "4",
                                totalPrice: "39 960",
                                service: "2 179",
                                extra: "300",
                                total: "38 081",
                                buttonLongContent: "Забронировать",
                                buttonLongStyle: "long"
                            },
                            sliderRoom888: {
                                number: 888,
                                price: "9 990",
                                reviews: 145,
                                isLux: "люкс"
                            },
                            sliderRoom840: {
                                number: 840,
                                price: "9 900",
                                reviews: 65
                            }
                        })
            

include ../components/script-injection/script-injection.pug

                            
                            
