mixin review(data)    
    .review
        .review__topBlock
            img.review__avatar(src=require("./components/review/avatar-2.jpg"), alt="avatar")
            p.review__name!= ` <strong>${data.name}</strong> <br /> ${data.date} дней назад`

        .review__bottomBlock
            .review__like
                +like-button(data.likes)
            p.review__content=data.content

