.review
    .review__topBlock
        img.review__avatar(src=require("./components/review//avatar-2.jpg"), alt="avatar")
        p.review__name <b>Мурад Сарафанов</b> <br> 5 дней назад
    .review__bottomBlock
        .review__like
            +likeButton(11)
        p.review__content Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.