.roomDetail{
    height: 31.9375rem;
    .roomDetail__header{
      margin: 0 0 0.3125rem 0;
    }
    .roomDetail__price{
      margin: 0.5625rem -0.375rem 0rem 0rem;
    }
    .roomDetail__number{
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1.875rem;
      color: #1F2041;
      letter-spacing: -0.0625rem;
    }
    .roomDetail__num{
      font-size: 0.875rem;
      line-height: 1.0625rem;
      margin: 0 0.1875rem 0 0;
    }
    .roomDetail__lux{
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 0.9375rem;
      text-transform: uppercase;
      color: #BC9CFF;
    }
    .flex-wrapper{
      justify-content: space-between;
      margin: 1.25rem 0 0 0;
    }
    .flex-wrapper:first-child{
      justify-content: space-between;
      margin: 0;
    }
    .roomDetail__priceTable{
      border-collapse: collapse;
      margin: 1.3125rem 0 0 0;
      .roomDetail__priceTable-column{
        padding: 0 0 0.625rem 0;
        vertical-align: top;
        text-align: center;
      }
      .roomDetail__priceTable-circle{
        width: 1.25rem;
        height: 1.25rem;
        border: 0.0625rem solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 50%;
        display: inline-block;
      }
    }
    .roomDetail__priceTable .roomDetail__rightCol{
      text-align: right;
      padding: 0 0 0 1.3125rem;
    }
    .roomDetail__priceTable .roomDetail__leftCol{
      text-align: left;
      width: 13.375rem;
      padding: 0 0.3125rem 1.0625rem 0;
    }
    .dropdownGuest{
      margin: 1.25rem 0 0 0;
      input{
        margin: 0;
      }
    }
    .roomDetail__total{
      font-weight: bold;
      font-size: 1.1875rem;
      line-height: 1.5rem;
      color: #1F2041;
      margin: 0.625rem 0 0 0;
      margin: 0.9375rem 0 0 0;
      justify-content: space-between;
    }
    .roomDetail__borderDashed{
      border-bottom: 0.0625rem dashed rgba(31, 32, 65, 0.25);
      flex-grow: 1;
      height: 1.125rem;
      margin: 0 0.25rem;
    }
    .roomDetail__totalSum{
      letter-spacing: -0.0938rem;
    }
    .button_long{
      margin: 1.25rem 0 0 0;
    }
  }