mixin register-page-body({header="Header here", textfieldName= {}, textfieldLastname= {}, radiobuttonMan= {}, radiobuttonWoman= {}, maskedText= {}, emailField= {}, passwordField= {}, toggleButtonId= "mailing", buttonLongContent= "Long template", buttonLongStyle= "long", buttonBorderContent= "border template", buttonBorderStyle= "border-big", offer= "offer content", birth= "birthday", enterData= "Enter data"})
    .register-page-body
        .register-page-body__wrapper
            .register-page-body__bg
                +card-register({header, textfieldName, textfieldLastname, radiobuttonMan, radiobuttonWoman, maskedText, emailField, passwordField, toggleButtonId, buttonLongContent, buttonLongStyle, buttonBorderContent, buttonBorderStyle, offer, birth, enterData})