.register-page-body {
  width: 100%;

  &__wrapper {
    max-width: 90rem;
    margin: 0 auto;

  }

  &__bg {
    display: flex;
    justify-content: center;
    background: url(./login-page-bg.jpg) no-repeat center bottom;
    background-size: cover;
    padding: 1.875rem 0 1.5rem 0;
  }
}


