.btn.btnLong{
    width: 320px;
    height: 44px;
    display: inline-block;
    text-align: center;
    background: url(./arrow_forward.png) no-repeat right 13px center,
    linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    padding: 15px 0 0 0;
    &:hover,
    &:active{
      opacity: 0.5;
    }
}