.footer-small {
    background: #fff;
    max-height: 22.9375rem;
    width: 100%;
    display: flex;
    padding: 0 0 6.625rem 0;

    &__wrapper {
        flex-wrap: wrap;
        margin: 0 auto;
        width: 72.4375rem;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        padding: 6.3125rem 0 0 0;
        width: 6.625rem;
        height: 2.5rem;
    }

    &__social {
        margin: 1.9375rem 0 0 0;
    }

    &__content {
        max-width: 35rem;
        text-align: center;
        margin: 0.875rem 0 0 0;
        line-height: 1.4375rem;
    }

    &__wrapper-column {
        flex-direction: column;
        width: 100%;
        align-items: center;
        display: flex;
    }
}