mixin footer-small({content='footer content'}={})
    .footer-small
        .wrapper
            .wrapper-column
                .footer-small__logo
                    a.footer-small__logo-ref(href="#") 
                        img.footer-small__logo-img(src=require("../components/footer-small/color-logo.svg"), alt="Logo")
                p.footer-small__content=content
                .footer-small__social
                    a(href="").footer-big__twitter 
                    a(href="").footer-big__facebook 
                    a(href="").footer-big__instagram

