.formEmail{
    width: 16.25rem;
    height: 2.75rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    background: $white;
    margin: 1.5625rem 0 0 0;
      input[type="email"]{
        border: none;
        padding: 0px  0 0.25rem 0.9375rem;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: rgba(31, 32, 65, 0.75);
        outline: none; 
        vertical-align: middle;
        font-family: 'Montserrat';
      }
      
      input:focus::placeholder{
        color: rgba(31, 32, 65, 0);
      }
      input[type="submit"]{
        background: url(./components/emailSubscribe/arrowInput.svg) no-repeat;
        border: none;
        outline: none;
        margin: 0.8125rem 0 0 0.6875rem;
        width: 1.125rem;
        height: 1.125rem;
      }
      input[type="submit"]:hover{
        cursor:pointer;}
  }
  