.roomDetailBody
    .roomDetailBody__wrapper
        .roomDetailBody__images
            .roomDetailBody__bigImg
            .roomDetailBody__smallImg
                .roomDetailBody__topImg
                .roomDetailBody__bottomImg
    .wrapper
        .roomDetailBody__content
            .roomDetailBody__leftSide
                .roomDetailBody__top
                    .roomDetailBody__roomFeatures
                        h2 Сведения о номере
                        +room-feature('comfort', 'Комфорт', 'Шумопоглощающие стены')
                        +room-feature('udobstvo', 'Удобство', 'Окно в каждой из спален')
                        +room-feature('uyut', 'Уют', 'Номер оснащён камином')
                    .roomDetailBody__pieChart
                        h2 Впечатления от номера
                        include ../pie-chart/pie-chart.pug
                .roomDetailBody__bottom
                    .roomDetailBody__reviews
                        .roomDetailBody__reviewsHeadline
                            h2 Отзывы посетителей номера
                            p 2 отзыва
                        +review('2', 'Мурад Сарафанов', '5 дней назад', '11', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
                        +review('1', 'Патрисия Стёклышкова', 'Неделю назад', '2', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент')
                    .roomDetailBody__lists
                        .roomDetailBody__bullet
                            h2 Правила
                            include ../bullet-list/bullet-list.pug
                        .roomDetailBody__cancel
                            h2 Отмена
                            p.roomDetailBody__cancelText Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            .roomDetailBody__rightSide
                +card-room-detail({
                                number: "888",
                                price: "9 990",
                                days: "4",
                                totalPrice: "39 960",
                                service: "2 179",
                                extra: "300",
                                total: "38 081",
                                buttonLongContent: "Забронировать",
                                buttonLongStyle: "long"
                            })