mixin login-page-body({header= "Header", emailField= {}, passwordField= {}, buttonLongContent= "Long template", buttonLongStyle= "long", buttonBorderContent= "Border template", buttonBorderStyle= "border-big"}={})
    .login-page-body
        .login-page-body__wrapper
            .login-page-body__bg
                +card-login({header, emailField, passwordField, buttonLongContent, buttonLongStyle, buttonBorderContent, buttonBorderStyle})