mixin colors-types(data)
        ul.color-squares
            li.color-squares__item  
                div.square
                div.color-descript
                    p.color-descript__content Dark Shade 100%
                    p.color-descript__content #1F2041
            li.color-squares__item
                div.square._75
                div.color-descript
                    p.color-descript__content Dark Shade 75%
                    p.color-descript__content #1F2041
            li.color-squares__item
                div.square._50
                div.color-descript
                    p.color-descript__content Dark Shade 50%
                    p.color-descript__content #1F2041
            li.color-squares__item
                div.square._25
                div.color-descript
                    p.color-descript__content Dark Shade 25%
                    p.color-descript__content #1F2041
            li.color-squares__item
                div.square._5
                div.color-descript
                    p.color-descript__content Dark Shade 5%
                    p.color-descript__content #1F2041
            li.color-squares__item
                div.square.purple
                div.color-descript
                    p.color-descript__content Purple
                    p.color-descript__content bc9cff
            li.color-squares__item  
                div.square.green
                div.color-descript
                    p.color-descript__content Green
                    p.color-descript__content #6fcf97
        .headlines
            table.headlines__table
                tr.headlines__table-row
                    td.headlines__table-colon
                        h1.headlines__table-h1 H1                            
                    td.headlines__table-colon 
                        h1.headlines__table-h1 This one is the sub-section or widget title
                tr.headlines__table-row
                    td.headlines__table-colon
                        h2.headlines__table-h2 H2
                    td.headlines__table-colon
                        h2.headlines__table-h2 Next one is the item title inside widgets
                tr.headlines__table-row
                    td.headlines__table-colon
                        h3.headlines__table-h3 H3
                    td.headlines__table-colon
                        h3.headlines__table-h3 This is a label or CTA text
                tr.headlines__table-row
                    td.headlines__table-colon
                        p.headlines__table-p Body
                    td.headlines__table-colon
                        p.headlines__table-p This is the body text which is used for most of the design, like paragraphs, lists, etc.

.colors-type
    .wrapper
        +colors-types()