.colors-types {
    width: 100%;
    display: flex;

    &__wrapper {
        flex-wrap: wrap;
        margin: 0 auto;
        width: 72.4375rem;
        display: flex;
        justify-content: space-between;
    }

    &__color-squares-item {
        display: flex;
    }

    &__square {
        width: 4.375rem;
        height: 4.375rem;
        background: #1F2041;
        border-radius: 0.375rem;
        margin: 0 0 0.625rem 0;

        &_75-percent-opacity {
            opacity: 0.75;
        }

        &_50-percent-opacity {
            opacity: 0.5;
        }

        &_25-percent-opacity {
            opacity: 0.25;
        }

        &_5-percent-opacity {
            opacity: 0.05;
        }

        &_purple {
            background: #BC9CFF;
        }

        &_green {
            background: #6fcf97;
        }

    }

    &__color-description {
        margin: 0 0 0 1.25rem;

        &__content {
            font-family: 'Quicksand';
            font-size: 19px;
            line-height: 29px;
            color: #1F2041;
            text-transform: uppercase;
            margin: 0.375rem 0.625rem;
        }

        &__content:first-child {
            font-weight: bold;
            text-transform: none;
        }
    }

    &__headlines table tr td:first-child {
        text-align: right;
        padding: 0 3.125rem 0 0;
        color: rgba(31, 32, 65, 0.25);
        font-weight: normal;
    }

    &__headlines table tr td:nth-child(2) {
        font-family: 'QuicksandBold';
        color: #1F2041;
    }

}