.data-dropdown__input {
  width: 9.375rem;
  height: 2.75rem;
  border: 0.0625rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0.25rem;
  padding: 0rem 0rem 0.0625rem 0.875rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: rgba(31, 32, 65, 0.75);
  background: #fff url(../../img/arrow-down.svg) no-repeat 7.125rem 0.6875rem;
  box-sizing: border-box;
}

@media screen and (max-width: 550px) {

  .datepicker--content {
      padding: 5px 7px 0 9px !important;
  }

  .datepicker--cell {
      height: 34px !important;
  }

  .datepicker {
      width: 280px !important;
      height: 320px !important;
  }

  div.guest.parent {
      min-width: 17rem !important;
  }

  .datepicker.-bottom-left-.-from-bottom-.active {
      left: 26px !important;
  }

  .landing-body__bottomText {
      display: none;
  }
}