.pieChart
    .graph-container
        svg
        .tooltip
            p.amount
            p.item
    .pieChart__legend
        p.pieChart__Ellips.pieChart__Ellips-orange Великолепно
        p.pieChart__Ellips.pieChart__Ellips-green Хорошо 
        p.pieChart__Ellips.pieChart__Ellips-purple Удовлетворительно
        p.pieChart__Ellips.pieChart__Ellips-black Разочарован