.pie-chart
    .pie-chart__graph-container
        svg
        .pie-chart__tooltip
            p.pie-chart__amount
            p.pie-chart__item
    .pie-chart__legend
        p.pie-chart__Ellips.pie-chart__Ellips_orange Великолепно
        p.pie-chart__Ellips.pie-chart__Ellips_green Хорошо 
        p.pie-chart__Ellips.pie-chart__Ellips_purple Удовлетворительно
        p.pie-chart__Ellips.pie-chart__Ellips_black Разочарован