//- script 
//-     include ../dropdown-guest/numbercategoryselector-guest.js
//- script 
//-     include ../dropdown-guest-repeat/numbercategoryselector-guest-repeat.js
//- script
//-     include ../dropdown-room/ncs.js  
//- script
//-     include ../two-input-range/two-input-range.js
//- script
//-     include ../two-input-range/two-input-range-repeat.js
//- script
//-     include ../dropdown-guest/guest.js
//- script
//-     include ../dropdown-guest-repeat/guest-repeat.js
                 
//- script 
//-     include ../like-button/like-button.js
//- script 
//-     include ../range-slider/range-slider.js
//- script 
//-     include ../dropdown-room/numbercategoryselector.js


    
