.room-feature {
  width: 18.1875rem;
  padding: 0 0 1.125rem 0rem;
  border-bottom: 0.0625rem solid rgba(31, 32, 65, 0.1);

  &__img {
    position: absolute;
  }

  &__content {
    padding: 0 0 0.3125rem 3.375rem;
    margin: 0;
    color: rgba(31, 32, 65, 0.75);
  }

  &__headline {
    font-weight: bold;
    padding: 0 0 0.3125rem 3.375rem;
    margin: 0;
    color: rgba(31, 32, 65, 0.75);
  }
}