mixin roomFeature(name,headline,descript)
    .roomFeature.name
        img(src=require("./components/room-feature/"+name+".png"), alt="11")
        p.roomFeature__headline=headline
        p=descript
