mixin room-feature(name,headline,descript)
    .room-feature.name
        img.room-feature__img(src=require("./components/room-feature/"+name+".png"), alt="11")
        p.room-feature__content.room-feature__headline=headline
        p.room-feature__content=descript
