mixin email-subscribe(id,placeHolder)
    form.email-subscribe(action="#", method="post")
        input.email-subscribe__email-field(type="email", name=id, placeholder=placeHolder)
        input.email-subscribe__submit(type="submit", value="")