mixin emailSubscribe(id,ph)
    form(action="#", method="post").formEmail
        input.formEmail__email-field(type="email", name=id, placeholder=ph)
        input.formEmail__submit(type="submit", value="")