mixin email-subscribe(id,ph)
    form(action="#", method="post").form-email
        input.form-email__email-field(type="email", name=id, placeholder=ph)
        input.form-email__submit(type="submit", value="")