.toggleButton{
    margin: 0 0.625rem 0.5rem 0;
}

.toggle{
    position: relative;
    display: block;
    width: 2.5rem;
    height: 1.25rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0,0,0);
    &:before{
        content: "";
        position: relative;
        top: 0rem;
        left: 0rem;
        width: 2.5rem;
        height: 1.25rem;
        display: block;
        background: #fff;
        border-radius: 0.625rem;
        transition: background .2s ease;
        border: 0.0625rem solid rgba(31, 32, 65, 0.25);
    }
    .toggle__button{
        position: absolute;
        top: 0.3125rem;
        left: 0.3125rem;
        width: 0.75rem;
        height: 0.75rem;
        display: block;
        background: rgba(31, 32, 65, 0.25);
        border-radius: 0.625rem;
        transition: all .2s ease;
        &:before{
        content: "";
        position: absolute;
        display: block;
        margin: -1.125rem;
        width: 3.5rem;
        height: 3.5rem;
        background: rgba(#4F2EDC,.5);
        border-radius: 50%;
        transform: scale(0);
        opacity: 1;
        pointer-events: none;
        }
    }
}
.toggleButton input[type="checkbox"]:checked + .toggle{
    &:before{
        background: #fff;
        border: 0.0625rem solid #BC9CFF;
    }
    .toggle__button{
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        transform: translateX(1.25rem);
        transition: all .2s cubic-bezier(.8,.4,.3,1.25), background .15s ease;
    }
    &:before{
        transform: scale(1);
        transition: all .4s ease;
        
    }
}