.card.roomDetail
    .flex.roomDetail__priceHeadline
        p.roomDetail__number <span class="roomDetail__num"> №</span>888 <span class="roomDetail__lux">люкс</span>
        p.roomDetail__price 9 990₽ в сутки
    .flex
        include ../twoInputRange/twoInputRange.pug
    .dropdownGuest
        h3 гости
        include ../dropdownGuest2/dropdownGuest2.pug
    table.roomDetail__priceTable
        tr
            td.roomDetail__leftCol 9 990₽ х 4 суток
            td
            td.roomDetail__rightCol 39 960₽
        tr
            td.roomDetail__leftCol Сбор за услуги: скидка 2 179₽
            td 
                a(href='#').circle i
            td.roomDetail__rightCol 0₽
        tr
            td.roomDetail__leftCol Сбор за дополнительные услуги
            td
                    a(href='#').circle i
            td.roomDetail__rightCol 300₽
    .flex.roomDetail__total
        p Итого
        .roomDetail__borderDashed
        p.roomDetail__totalSum 38 081₽
    +btnLong('Забронировать')