input[name='guest2'] {
            height: 44px;
            width: 320px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px 4px 0 0;
            padding: 0 24px 0px 15px;
            font-size: 14px;
            line-height: 24px;
            margin: 0 0 23px 0; //Костыль. Убрать, если выпадающее меню ниже, чем надо (виноват img logo)
            color: rgba(31, 32, 65, 0.75);
            font-family: 'Montserrat';
            background: #fff url(./arrowDown.svg) 285px 9px no-repeat;
            text-overflow: ellipsis;
            outline: none;
            cursor: pointer;
        }
div.guest2.parent {
    position: absolute;
    z-index: 1000;
    background: white;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius:0 0 4px 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    padding: 4px 5px 12px 12px;
    text-align: center;
    overflow: hidden;
    min-width: 320px;
    box-sizing: border-box;
    
}

div.guest2.category {
    // padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

div.guest2.room {
    height: 5px;
}

div.guest2.display {
    overflow: hidden;
    background: transparent;
    z-index: 999;
    position: absolute;
    border-radius: 2px;
    padding: 5px 2.5px;
    box-sizing: border-box;
    align-items: center;
}

div.guest2.inlinedisplay {
    height: 100%;
    width: 10000px;
    margin: 0 0 0 5px;
}

div.guest2.displayelement:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

div.guest2.displayelement {
    display: inline;
    background: #fff;
    color: rgba(31, 32, 65, 0.75);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 0 0px 0 0;
    padding: 2.5px 0px;
    box-sizing: border-box;
    line-height: 24px;
    
    border-radius: 2.5px;
    font-size: 14px;
}

a.guest2.close {
    opacity: 1;
    text-align: center;
    font-size: 14px;
    margin: 5px;
    text-decoration: underline;
}

div.guest2.name{
    font-size: 16px;
    float: left;
}

div.guest2.value{
    font-size: 16px;
}

div.guest2.text {
    clear: both;
    display: inline-block;
    padding: 7px 0 0px 0;
    margin: 0 0 15px 0;
}

div.guest2.name, a.guest2.close, div.guest2.value {
    font-family: 'MontserratBold';
    color: #1F2041;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    // padding: 0 0 0 15px;
}

div.guest2.buttons {
    display: flex;
    width: 92px;
    justify-content: space-between;
    align-items: center;
}

a.guest2.button {
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
    width: 30px;
    height: 30px;
    
    display: inline-block;
    text-align: center;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    box-sizing: border-box;
    font-weight: 700;
    
    line-height: 30px;
}

a.guest2.button.inactive {
    background: #fff;
    opacity: 0.38;
}

.NCSG.reset{
    float: left;
    padding: 14px 0 0 2px;
    font-family: 'MontserratBold';
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}
.NCSG.close{
    float: right;
    padding: 14px 0 0 0;
    font-family: 'MontserratBold';
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
}



