.search-room__arrival
    h3.room-detail__header пРиБыТие
    .data-dropdown
        label(for="start") 
        input.data-dropdown__input.datepicker-here.datepickers(id="start" type="text" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
.search-room__departure
    h3.room-detail__header выезд
    .data-dropdown
        label(for="end") 
        input.data-dropdown__input.datepicker-here.datepickers(id="end" type="text" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
                        