.search-room__arrival
    h3 пРиБыТие
    .data-dropdown
        label(for="start2") 
        input.data-dropdown__input.datepicker-here.datepickers2(id="start2" type="text" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
.search-room__departure
    h3 выезд
    .data-dropdown
        label(for="end2") 
        input.data-dropdown__input.datepicker-here.datepickers2(id="end2" type="text" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
                        