.searchRoom__arrival
    h3.roomDetail__header пРиБыТие
    .dataDropdown
        label(for="start") 
        input.dataDropdown__input.datepicker-here.datepickers(id="start" type="text" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
.searchRoom__departure
    h3.roomDetail__header выезд
    .dataDropdown
        label(for="end") 
        input.dataDropdown__input.datepicker-here.datepickers(id="end" type="text" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
                        