.searchRoom__arrival
    h3 пРиБыТие
    .dataDropdown
        label(for="start") 
        input(id="start" type="text" class="datepicker-here datepickers" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
.searchRoom__departure
    h3 выезд
    .dataDropdown
        label(for="end") 
        input(id="end" type="text" class="datepicker-here datepickers" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
                        