.searchRoom__arrival
    h3 пРиБыТие
    .dataDropdown
        label(for="start2") 
        input.dataDropdown__input.datepicker-here.datepickers2(id="start2" type="text" class="datepicker-here datepickers2" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
.searchRoom__departure
    h3 выезд
    .dataDropdown
        label(for="end2") 
        input.dataDropdown__input.datepicker-here.datepickers2(id="end2" type="text" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
                        