.two-input-range {
    &__header {
        margin: 0 0 0.3125rem 0;
    }

    &__input {
        width: 9.375rem;
        height: 2.75rem;
        border: 0.0625rem solid rgba(31, 32, 65, 0.25);
        border-radius: 0.25rem;
        padding: 0rem 0rem 0.0625rem 0.875rem;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: rgba(31, 32, 65, 0.75);
        background: #fff url(../../img/arrow-down.svg) no-repeat 7.125rem 0.6875rem;
        box-sizing: border-box;
    }

    &__arrival {
        margin: 0 1.25rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .two-input-range__input {
        width: 7.375rem;
        height: 2.75rem;
        font-size: 0.675rem;
        color: rgba(31, 32, 65, 0.75);
        background: #fff url(../../img/arrow-down.svg) no-repeat 5.5rem 0.6875rem;
    }
}