.landing-body
    .landing-body__wrapper
        .landing-body__bg
            .landing-body__search-card-margin
                +search-room({header: "Найдем номера под ваши пожелания", buttonLongContent: "подобрать номер", buttonLongStyle: "long"})
        p.landing-body__bottomText Лучшие номера для вашей работы, отдыха и просто вдохновения