mixin landing-body({header="Place header here", buttonLongContent="button long", buttonLongStyle="long", searchRef='./search.html', bottomText= "bottom text"}={})
    .landing-body
        .landing-body__wrapper
            .landing-body__bg
                .landing-body__search-card-margin
                    +card-search-room({header, buttonLongContent, buttonLongStyle, searchRef})
            p.landing-body__bottomText= bottomText