.landing-body {
    width: 100%;
    background: #fff;

    &__bg {
        width: 90rem;
        height: 51.75rem;
        background: url(./landing-img.jpg) no-repeat 0.125rem -4.375rem;
        background-size: cover;
        margin: 0 auto;
    }

    &__search-card-margin {
        margin: 4.8% 0 0 9.6%;
    }

    &__bottomText {
        position: absolute;
        text-align: right;
        font-family: 'Montserrat';
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: rgba(31, 32, 65, 0.75);
        position: absolute;
        width: 18.5625rem;
        right: 22.8rem;
        bottom: -10.1875rem;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1440px) {
    .landing-body {
        &__bg {
            background: url(./landing-img.jpg) no-repeat 0 0;
        }

        &__bottomText {
            right: 5%;
        }

        &__search-card-margin {
            margin: 4.8% 0 26% 9.6%;
        }
    }

}

@media screen and (max-width: 550px) {
    .landing-body {
        &__bg {
            height: 36.875rem;
        }

        &__search-card-margin {
            margin: 4.8% auto;
            width: 18.75rem;
            padding: 0.438rem 0.875rem 0.875rem 0.875rem;
        }
        &__bottomText {
            display: none;
        }

    }
    
}