.loginAccount{
    .flex-wrapper{
      margin: 0rem 0 0.25rem 0;
    }
    .haveAccount{
      margin: 0.8125rem 0 0rem 0;
    }
    .textfield{
      margin: 0 0 0.625rem 0;
    }
   
    .button_long{
      margin: 0.625rem 0 1.875rem 0;
    }
    .button_border{
      margin: 0.125rem 0rem 0rem 3.6875rem;
      width: 5.9375rem;
      height: 2.625rem;
      box-sizing: border-box;
      display: inline-block;
      line-height: 1.6875rem;
    }
  }