mixin card-login(data)
    .login-account
        h1.login-account__header= data.header
        +textfield(data.emailField.id, data.emailField.placeholder, data.emailField.type)
        +textfield(data.passwordField.id, data.passwordField.placeholder, data.passwordField.type)
        +button(data.buttonLongStyle, data.buttonLongContent)
        .flex-wrapper
            p.have-account Нет аккаунта на Toxin?
            +button(data.buttonBorderStyle, data.buttonBorderContent)

