.card-template.login-account
    h1.card-template__header Войти
    +textfield(data.cardLogin.emailField.id, data.cardLogin.emailField.placeholder, data.cardLogin.emailField.type)
    +textfield(data.cardLogin.passField.id, data.cardLogin.passField.placeholder, data.cardLogin.passField.type)
    +button(data.cardLogin.btnLongStyle, data.cardLogin.btnLongContent)
    .flex-wrapper
        p.have-account Нет аккаунта на Toxin?
        +button(data.cardLogin.btnBorderStyle, data.cardLogin.btnBorderContent)