mixin card-login({header='header', emailField={id, placeholder, type}, passwordField={id, placeholder, type}, buttonBorderContent='Border Template',buttonBorderStyle='border', buttonLongStyle='long',buttonLongContent='Long Template'}={})
    .login-account
        h1.login-account__header= header
        +textfield(emailField.id, emailField.placeholder, emailField.type)
        +textfield(passwordField.id, passwordField.placeholder, passwordField.type)
        +button(buttonLongStyle, buttonLongContent)
        .flex-wrapper
            p.have-account Нет аккаунта на Toxin?
            +button(buttonBorderStyle, buttonBorderContent)

