mixin card-login(data)
    .login-account
        h1.login-account__header= data.header
        +textfield(data.emailField.id, data.emailField.placeholder, data.emailField.type)
        +textfield(data.passField.id, data.passField.placeholder, data.passField.type)
        +button(data.btnLongStyle, data.btnLongContent)
        .flex-wrapper
            p.have-account Нет аккаунта на Toxin?
            +button(data.btnBorderStyle, data.btnBorderContent)

