mixin card-login({header='header', emailField={id, placeholder, type}, passwordField={id, placeholder, type}, buttonBorderContent='Border Template',buttonBorderStyle='border', buttonLongStyle='long',buttonLongContent='Long Template'}={})
    .card-login
        h1.card-login__header= header
        .card-login__textfield-margin
            +textfield(emailField.id, emailField.placeholder, emailField.type)
        .card-login__textfield-margin
            +textfield(passwordField.id, passwordField.placeholder, passwordField.type)
        .card-login__button_long-margin
            +button(buttonLongStyle, buttonLongContent)
        .card-login__flex-wrapper
            p.card-login__have-account Нет аккаунта на Toxin?
            .card-login__button_border-big-margin
                +button(buttonBorderStyle, buttonBorderContent)

