.card.loginAccount
    h1 Войти
    +emailField(data.cardLogin.emailField.id, data.cardLogin.emailField.placeholder)
    +passwordField(data.cardLogin.passField.id, data.cardLogin.passField.placeholder)
    +button(data.cardLogin.btnLongStyle, data.cardLogin.btnLongContent)
    .flex
        p.haveAccount Нет аккаунта на Toxin?
        +button(data.cardLogin.btnBorderStyle, data.cardLogin.btnBorderContent)