.footer-small
    .wrapper
        .wrapper-column
            .footer-small__logo
                a(href="#") 
                    img(src=require("./color-logo.svg"), alt="Logo")
            p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis. 
            .footer-small__social
                a(href="").footer-big__twitter 
                a(href="").footer-big__facebook 
                a(href="").footer-big__instagram