.card.searchRoom
    h1 Найдем номера под ваши пожелания
    .flex
        include ../twoInputRange/two-input-range2.pug
    .dropdownGuest
        h3 гости
        include ../dropdownGuest/dropdown-guest.pug
    +btnLong(data.cardSearchRoom.btnLongContent)