.card.searchRoom
    h1 Найдем номера под ваши пожелания
    .flex
        include ../twoInputRange/twoInputRange2.pug
    .dropdownGuest
        h3 гости
        include ../dropdownGuest/dropdownGuest.pug
    +btnLong('подобрать номер')