mixin cards(data)
            .flex-column-wrapper
                +search-room(data.searchRoom)
                +card-register(data.cardRegister)
            .flex-column-wrapper
                +card-login(data.cardLogin)
                +room-detail(data.roomDetail)
            .flex-column-wrapper
                .room-slider-margin
                    +slider-room(data.sliderRoom888)
                .room-slider-margin
                    +slider-room(data.sliderRoom840)

