.cards
    .wrapper
        .flex
            .flex-column
                include ../cardSearchRoom/card-search-room.pug
                include ../cardRegister/card-register.pug
            .flex-column
                include ../cardLogin/card-login.pug
                include ../cardRoomDetail/card-room-detail.pug
            .flex-column
                +sliderRoom('888','9 990', '145','люкс')
                +sliderRoom('840','9 900','65')