.cards
    .wrapper
        .flex
            .flex-column
                include ../cardSearchRoom/cardSearchRoom.pug
                include ../cardRegister/cardRegister.pug
            .flex-column
                include ../cardLogin/cardLogin.pug
                include ../cardRoomDetail/cardRoomDetail.pug
            .flex-column
                +sliderRoom('888','9 990', '145','люкс')
                +sliderRoom('840','9 900','65')