form(action="#").rich-checkbox
    ul.check-list
        li.check-list__item
            input.check-list__checkbox(type="checkbox" id="qfirst" name="first" hidden)
            label(for="qfirst") Широкий коридор
                p.check-list__content Ширина коридоров в номере не менее 91 см.
        li.check-list__item
            input.check-list__checkbox(type="checkbox" id="qsecond" name="first" checked hidden)
            label(for="qsecond") Помощник для инвалидов
                p.check-list__content На 1 этаже вас встретит специалист  и проводит до номера.