.CheckList {
  margin: 18px 0 0 24px;
  padding: 0;
  width: 266px;
 
  .CheckList__checkbox{
    display:none;            
  }
  .CheckList__checkbox + label{
    cursor: pointer;
    font-family: 'MontserratBold';
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
  }
  .CheckList__checkbox + label::before{
    content: "";
    display: inline-block;
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    top: 4px;
  }
  .CheckList__checkbox:checked + label::before {
    background: url(./checked.png) no-repeat top left;
    border: none;  
  }
}

.richCheckbox{
  .CheckList__item{
      margin: 0 0 42px 0;
      .CheckList__content{
        margin: 0;
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
        padding: 4px 5px 0 30px;
      }
    }
  }
#richCheckbox{
display: none;
}

