.CheckList {
  margin: 1.125rem 0 0 1.5rem;
  padding: 0;
  width: 16.625rem;
 
  &__checkbox{
    display:none;            
  }
  &__checkbox + label{
    cursor: pointer;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: rgba(31, 32, 65, 0.75);
  }
  &__checkbox + label::before{
    content: "";
    display: inline-block;
    margin: 0 0.625rem 0 0;
    width: 1.25rem;
    height: 1.25rem;
    background: #fff;
    border: 0.0625rem solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 0.25rem;
    position: relative;
    top: 0.25rem;
  }
  &__checkbox:checked + label::before {
    background: url(./checked.png) no-repeat top left;
    border: none;  
  }
}

.richCheckbox{
  .CheckList__item{
      margin: 0 0 2.625rem 0;
      .CheckList__content{
        margin: 0;
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: rgba(31, 32, 65, 0.5);
        padding: 0.25rem 0.3125rem 0 1.875rem;
        font-weight: normal;
      }
    }
  }
#richCheckbox{
display: none;
}

