form(action="#").richCheckbox
    ul.CheckList
        li.CheckList__item
            input.CheckList__checkbox(type="checkbox" id="qfirst" name="first" hidden)
            label(for="qfirst") Широкий коридор
                p.CheckList__content Ширина коридоров в номере не менее 91 см.
        li.CheckList__item
            input.CheckList__checkbox(type="checkbox" id="qsecond" name="first" checked hidden)
            label(for="qsecond") Помощник для инвалидов
                p.CheckList__content На 1 этаже вас встретит специалист  и проводит до номера.