.CheckList {
    margin: 18px 0 0 24px;
    padding: 0;
    width: 266px;
    li{
      margin: 0 0 10px 0;
      height: 20px;
    }
    input[type="checkbox"]{
      display:none;            
    }
    input[type="checkbox"] + label{
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.5);
      cursor: pointer;
    }
    input[type="checkbox"] + label::before{
      content: "";
      display: inline-block;
      margin: 0 10px 0 0;
      width: 20px;
      height: 20px;
      background: $white;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 4px;
      position: relative;
      top: 4px;
    }
    input[type="checkbox"]:checked + label::before {
      background: url(./components/checkBoxes/checked.png) no-repeat top left;
      border: none;  
    }
    
  }
  #checkboxes{
      display: none;
     
    }
    .CheckLabel {
      position: relative;
      
      &:hover {
        color: orange;
      }
      
      &:after {
        content: 'Checkbox buttons';
        white-space: nowrap;
        position: absolute;
        bottom: 0;
        left: 2em;
        width: 266px;
        font-family: 'MontserratBold';
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark100;
        
      }
      
  }