.searchRoom{
    .flex-wrapper{
      margin: 0 0 0.625rem 0;
    }
    
    .searchRoom__header{
         margin: 0.0625rem 0 0.25rem 0;
      }
    .searchRoom__arrival{
      margin: 0 1.25rem 0 0;
    }
    .dropdownGuest{
      margin: 0 0 0.5625rem 0;
    }
  }