.searchRoom{
    .flex-wrapper{
      margin: 0 0 10px 0;
    }
    
    .searchRoom__header{
         margin: 1px 0 4px 0;
      }
    .searchRoom__arrival{
      margin: 0 20px 0 0;
    }
    .dropdownGuest{
      margin: 0 0 9px 0;
    }
  }