.card.searchRoom
    h1 Найдем номера под ваши пожелания
    .flex
        include ../two-input-range/two-input-range-repeat.pug
    .dropdownGuest
        h3 гости
        include ../dropdown-guest/dropdown-guest.pug
    +button(data.cardSearchRoom.btnLongStyle, data.cardSearchRoom.btnLongContent)