mixin search-room(data)    
    .search-room
        h1.search-room__header=data.header
        .flex-wrapper
            include ../two-input-range/two-input-range-repeat.pug
        .dropdown-guest
            h3.search-room__headline гости
            +dropdown-guest("Сколько гостей")
            
        +button(data.btnLongStyle, data.btnLongContent)

