mixin headerButtons(data)
    .wrapper  
        a.header__logo(href="#") 
            img(src=require("./components/header-buttons/color-logo.svg"), alt="Main Logo")
        .header__nav-but-wrap
            nav 
                ul.headerButtons__mainMenu
                    li.active 
                        a(href='#') Home
                    li 
                        a(href='#') About Us
                    li
                        a(href='#') Services
                    li
                        a(href='#') Careers
                    li
                        a(href='#') News
                    li
                        a(href='#') Documentation
            .headerButtons__buttons
                +button(data.loginButtonStyle, data.loginButton)
                +button(data.registerButtonStyle, data.registerButton)

.headerButtons
    +headerButtons({
        loginButtonStyle: "border",
        loginButton: "login",
        registerButtonStyle: "fill",
        registerButton: "register"})