mixin header-buttons({list={}, loginButton='login button', loginButtonStyle='border', registerButton='register button', registerButtonStyle='fill'}={})
    .wrapper  
        a.header__logo(href="#") 
            img.header__logo-img(src=require("./components/header-buttons/color-logo.svg"), alt="Main Logo")
        .header__navigation-buttons-wrapper
            nav 
                ul.header-buttons__mainMenu
                    each item in list
                        if item.active
                            li(class=`header-buttons__mainMenu-item header-buttons__mainMenu-item_active`)
                                a.header-buttons__mainMenu-link(href='#')= item.content
                        else 
                            li(class=`header-buttons__mainMenu-item`)
                                a.header-buttons__mainMenu-link(href='#')= item.content
            .header-buttons__buttons
                span.header-buttons__login-wrapper
                    +button(loginButtonStyle, loginButton)
                +button(registerButtonStyle, registerButton)
