mixin headerButtons(data)
    .wrapper  
        a.header__logo(href="#") 
            img.header__logo-img(src=require("./components/header-buttons/color-logo.svg"), alt="Main Logo")
        .header__nav-but-wrap
            nav 
                ul.headerButtons__mainMenu
                    li.headerButtons__mainMenu-item.headerButtons__mainMenu-item_active 
                        a.headerButtons__mainMenu-link(href='#') Home
                    li.headerButtons__mainMenu-item 
                        a.headerButtons__mainMenu-link(href='#') About Us
                    li.headerButtons__mainMenu-item
                        a.headerButtons__mainMenu-link(href='#') Services
                    li.headerButtons__mainMenu-item
                        a.headerButtons__mainMenu-link(href='#') Careers
                    li.headerButtons__mainMenu-item
                        a.headerButtons__mainMenu-link(href='#') News
                    li.headerButtons__mainMenu-item
                        a.headerButtons__mainMenu-link(href='#') Documentation
            .headerButtons__buttons
                +button(data.loginButtonStyle, data.loginButton)
                +button(data.registerButtonStyle, data.registerButton)

.headerButtons
    +headerButtons({
        loginButtonStyle: "border",
        loginButton: "login",
        registerButtonStyle: "fill",
        registerButton: "register"})