mixin header-buttons(data)
    .wrapper  
        a.header__logo(href="#") 
            img.header__logo-img(src=require("./components/header-buttons/color-logo.svg"), alt="Main Logo")
        .header__nav-but-wrap
            nav 
                ul.header-buttons__mainMenu
                    li.header-buttons__mainMenu-item.header-buttons__mainMenu-item_active 
                        a.header-buttons__mainMenu-link(href='#') Home
                    li.header-buttons__mainMenu-item 
                        a.header-buttons__mainMenu-link(href='#') About Us
                    li.header-buttons__mainMenu-item
                        a.header-buttons__mainMenu-link(href='#') Services
                    li.header-buttons__mainMenu-item
                        a.header-buttons__mainMenu-link(href='#') Careers
                    li.header-buttons__mainMenu-item
                        a.header-buttons__mainMenu-link(href='#') News
                    li.header-buttons__mainMenu-item
                        a.header-buttons__mainMenu-link(href='#') Documentation
            .header-buttons__buttons
                span.header-buttons__login-wrapper
                    +button(data.loginButtonStyle, data.loginButton)
                +button(data.registerButtonStyle, data.registerButton)

.header-buttons
    +header-buttons({
        loginButtonStyle: "border",
        loginButton: "login",
        registerButtonStyle: "fill",
        registerButton: "register"})