form(action="#").expendCheck 
    input(id="expander" type="checkbox")
    label(for="expander" class="exCheckLabel")
    ul.exCheckList
        li
            input(type="checkbox" id="cfirst" name="first" hidden)
            label(for="cfirst") Завтрак
        li
            input(type="checkbox" id="csecond" name="first" checked hidden)
            label(for="csecond") Письменный стол
        li
            input(type="checkbox" id="cthird" name="first" checked hidden)
            label(for="cthird") Стул для кормления
        li
            input(type="checkbox" id="cfourth" name="first" checked hidden)
            label(for="cfourth") Кроватка
        li
            input(type="checkbox" id="cfifth" name="first" hidden)
            label(for="cfifth") Телевизор
        li
            input(type="checkbox" id="csix" name="first" hidden)
            label(for="csix") Шампунь
        li
            input(type="checkbox" id="cseven" name="first" hidden)
            label(for="cseven") Телевизор
        li
            input(type="checkbox" id="ceight" name="first" hidden)
            label(for="ceight") Шампунь