.exCheckList {
    max-height: 0em;
    overflow: hidden;
    margin: 18px 0 0 24px;
    padding: 0;
    transition: max-height 0.35s ease-in;
    width: 266px;
    li{
      margin: 0 0 10px 0;
      height: 20px;
    }
    #expander:checked ~ & {
      max-height: 17em;
    }
    input[type="checkbox"]{
      display:none;            
    }
    input[type="checkbox"] + label{
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.5);
      cursor: pointer;
    }
    input[type="checkbox"] + label::before{
      content: "";
      display: inline-block;
      margin: 0 10px 0 0;
      width: 20px;
      height: 20px;
      background: $white;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 4px;
      position: relative;
      top: 4px;
    }
    input[type="checkbox"]:checked + label::before {
      background: url(./components/expendCheckBox/checked.png) no-repeat top left;
      border: none;  
      
    }
}
  
.exCheckLabel {
    position: relative;
    
    &:hover {
      color: orange;
    }
    
    &:after {
      content: 'Expandable checkbox list';
      white-space: nowrap;
      position: absolute;
      cursor: pointer;
      bottom: 0;
      left: 2em;
      background: url(./components/expendCheckBox/arrowDown.png) no-repeat 238px;
      width: 266px;
      font-family: 'MontserratBold';
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $dark100;
      
    }
    #expander:checked + &:after {
        content: 'Expandable checkbox list';
        background: url(./components/expendCheckBox/expand_more.png) no-repeat 238px;
        width: 266px;
      }
}
  
#expander {
    display: none;
}