mixin dropdown-guest(placeHolder, mod)
    label.dropdown-guest(for="dropdownGuest")
        input(class= `dropdown-guest__input ${mod}` id="dropdownGuest" name="guest", type="text", readonly, placeholder=placeHolder)
