mixin header(data)
    .header
        .header__wrapper
            a.header__logo(href="#") 
                img(src=require("../components/header/color-logo.svg"), alt="Main Logo")
            .header__navigation-wrapper
                nav.header__navigation 
                    ul.header__main-menu
                        each item in data
                            if item.active
                                li.header__main-menu-item.header__main-menu-item_active 
                                    a.header__main-menu-link(href='#')= item.content
                            else
                                li.header__main-menu-item 
                                    a.header__main-menu-link(href='#')= item.content
                a(href="#").header__main-menu-item-with-border Cosmin Negoita

