.header
    .wrapper
        a.header__logo(href="#") 
            img(src=require("./color-logo.svg"), alt="Main Logo")
        .header__nav-but-wrap
            nav 
                ul.headerButtons__mainMenu
                    li.active 
                        a(href='#') Home
                    li 
                        a(href='#') About Us
                    li
                        a(href='#') Services
                    li
                        a(href='#') Careers
                    li
                        a(href='#') News
                    li
                        a(href='#') Documentation
            a(href="#").withBorder Cosmin Negoita