.header{
    background: #fff;
    box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
    height: 4.375rem;
    width: 100%;
    margin: 2.5rem 0 0 0;
    display: flex;
    padding: 15px 0 0 0;
    box-sizing: border-box;
}
.withBorder{
border-left: 1px solid rgba(31, 32, 65, 0.1);
padding: 0.6875rem 0 0 1.9375rem;
}