mixin header(data)
    .header
        .wrapper
            a.header__logo(href="#") 
                img(src=require("./components/header/color-logo.svg"), alt="Main Logo")
            .header__navigation-buttons-wrapper
                nav 
                    ul.header-buttons__mainMenu
                        each item in data
                            if item.active
                                li.header-buttons__mainMenu-item.header-buttons__mainMenu-item_active 
                                    a.header-buttons__mainMenu-link(href='#')= item.content
                            else
                                li.header-buttons__mainMenu-item 
                                    a.header-buttons__mainMenu-link(href='#')= item.content
                a(href="#").with-border Cosmin Negoita

