mixin header(data)
        a.header__logo(href="#") 
            img(src=require("./components/header/color-logo.svg"), alt="Main Logo")
        .header__nav-but-wrap
            nav 
                ul.headerButtons__mainMenu
                    li.headerButtons__mainMenu-item.headerButtons__mainMenu-item_active 
                        a.headerButtons__mainMenu-link(href='#') Home
                    li.headerButtons__mainMenu-item 
                        a.headerButtons__mainMenu-link(href='#') About Us
                    li.headerButtons__mainMenu-item
                        a.headerButtons__mainMenu-link(href='#') Services
                    li.headerButtons__mainMenu-item
                        a.headerButtons__mainMenu-link(href='#') Careers
                    li.headerButtons__mainMenu-item
                        a.headerButtons__mainMenu-link(href='#') News
                    li.headerButtons__mainMenu-item
                        a.headerButtons__mainMenu-link(href='#') Documentation
            a(href="#").withBorder Cosmin Negoita

.header
    .wrapper
        +header()