mixin footer-big(data)
        .footer-big__main
            .footer-big__logo
                a.header__logo(href="#") 
                    img(src=require("./components/footer-big/color-logo.svg"), alt="Main Logo")
                p.footer-big__logo-content Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.       
            .footer-big__menus
                .footer-big__list.footer-big__nav
                    h3.footer-big__headline navigation
                    ul
                        li.footer-big__list-item
                            a(href="") About Us
                        li.footer-big__list-item
                            a(href="") News
                        li.footer-big__list-item
                            a(href="") Support
                        li.footer-big__list-item
                            a(href="") Products
                .footer-big__list.footer-big__about
                    h3.footer-big__headline about us
                    ul
                        li.footer-big__list-item
                            a(href="") Who we are
                        li.footer-big__list-item
                            a(href="") Our team
                        li.footer-big__list-item
                            a(href="") Careers
                        li.footer-big__list-item
                            a(href="") Investors
                .footer-big__list.footer-big__support
                    h3.footer-big__headline support
                    ul
                        li.footer-big__list-item
                            a(href="") Documentation
                        li.footer-big__list-item
                            a(href="") Community
                        li.footer-big__list-item
                            a(href="") Get in touch
            .footer-big__subscribe
                h3.footer-big__headline subscribe to ours newsletter
                p.footer-big__subscribe-content Receive our latest news and promotions in your inbox!
                +email-subscribe(data.emailId, data.emailPlaceholder)
        .footer-big__copyright
            p.footer-big__copyright-content Copyright © 2018 Toxin UI Kit. All rights reserved.
            .footer-big__social 
                a(href="").footer-big__twitter 
                a(href="").footer-big__facebook 
                a(href="").footer-big__instagram

.footer-big
    .wrapper
        +footer-big({emailId: "email", emailPlaceholder: "Your email address"})