mixin flex-slider(number, slides)
    .flexslider
        ul.slides
            - for (var i=1; i<=slides; i++)
                li.flexslider__slides-item
                    img.flexslider__slides-img(src=require(`../components/card-slider-room/${number}-slide-${i}.jpg`))
        