.btn.btnBorder{
    position: relative;
    color: #BC9CFF;
    padding: 0.55em 1.5em;
    background: #fff;
}
  
.btnBorder::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -0.125rem;
    right: -0.125rem;
    bottom: -0.125rem;
    left: -0.125rem;
    border-radius: 22px;
    background: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
}
.btnBorder:hover::before,
  .btnBorder:active::before{
    opacity: 0.5;
}