.textfield{
    width: 320px;
    height: 44px;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25);
    padding: 0 0 0 15px;

}
.textfield:hover,
.textfield:focus{
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75);
}
.textfield:focus::placeholder{
    opacity:0;
}