.my {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    display: inline-block;
    width: 40px;
    height: 20px;
    line-height: 17px;
    padding: 0 5px;
    position: relative;
    font-size: 10px;
    text-decoration: none;
    background:$white url(./components/likeButton/like_border.svg) no-repeat 4px 6px;
}

.my-counter:after {
padding: 0 14px;
color: rgba(31, 32, 65, 0.25);
content: attr(data-count);
left: 10;
/*   margin-left: 8px;
margin-right: -13px; */
position: absolute;
top: 1px;

}

.my {
color: rgba(31, 32, 65, 0.25);
}
.my:hover,
.my.active {
background:$white url(./components/likeButton/like.svg) no-repeat 4px 6px;
border: 1px solid $purple;
color: $purple;
}
.my:hover:after,
.my.active:after{
color: $purple;

} 
  
  