script
    include ../twoInputRange/two-input-range.js
script
    include ../twoInputRange/two-input-range2.js
script
    include ../dropdownGuest/guest.js
script
    include ../dropdownGuest2/guest2.js
script
    include ../dropdownRoom/ncs.js                   
script 
    include ../likeButton/like-button.js
script 
    include ../rangeSlider/range-slider.js
script 
    include ../dropdownRoom/numbercategoryselector.js
script 
    include ../dropdownGuest/numbercategoryselector-guest.js
script 
    include ../dropdownGuest2/numbercategoryselector-guest2.js

    
