script
    include ../twoInputRange/twoInputRange.js
script
    include ../twoInputRange/twoInputRange2.js
script
    include ../dropdownGuest/guest.js
script
    include ../dropdownGuest2/guest2.js
script
    include ../dropdownRoom/ncs.js                   
script 
    include ../likeButton/likeButton.js
