.roomFeature{
    width: 291px;
    margin: 20px 0 0 0;
    padding: 0 0 18px 0px;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    img{
      position: absolute;
    }
    p{
      padding: 0 0 5px 54px;
      margin: 0;
      color: rgba(31, 32, 65, 0.75);
    }
    .roomFeature__headline{
      font-family: 'MontserratBold';
      
    }
    
  }