form(action="#").checkboxes
    h3.checkboxes__header Checkbox buttons
    ul.check-list
        li.check-list__item
            input.check-list__checkbox(type="checkbox" id="bfirst" name="first" hidden)
            label.check-list__checkbox-label(for="bfirst") Завтрак
        li.check-list__item
            input.check-list__checkbox(type="checkbox" id="bsecond" name="first" checked hidden)
            label.check-list__checkbox-label(for="bsecond") Письменный стол
        li.check-list__item
            input.check-list__checkbox(type="checkbox" id="bthird" name="first" checked hidden)
            label.check-list__checkbox-label(for="bthird") Стул для кормления