form(action="#").checkboxes
    h3.checkboxes__header Checkbox buttons
    ul.CheckList
        li.CheckList__item
            input.CheckList__checkbox(type="checkbox" id="bfirst" name="first" hidden)
            label(for="bfirst") Завтрак
        li.CheckList__item
            input.CheckList__checkbox(type="checkbox" id="bsecond" name="first" checked hidden)
            label(for="bsecond") Письменный стол
        li.CheckList__item
            input.CheckList__checkbox(type="checkbox" id="bthird" name="first" checked hidden)
            label(for="bthird") Стул для кормления