doctype html
html
    head
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")                
        script(src="../src/numbercategoryselector.js")
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Toxin Hotel
    body
        main
            .headerButtons
                .wrapper   
                    a.header__logo(href="#") 
                        img(src="../src/img/colorLogo.svg", alt="Main Logo")
                    .header__nav-but-wrap
                        nav 
                            ul.mainMenu
                                li.active 
                                    a(href='#') Home
                                li 
                                    a(href='#') About Us
                                li
                                    a(href='#') Services
                                li
                                    a(href='#') Careers
                                li
                                    a(href='#') News
                                li
                                    a(href='#') Documentation
                        .buttons
                            a.btn.btn-login(href='#') login
                            a.btn.btn-register(href='#') register
            .header
                .wrapper
                    a.header__logo(href="#") 
                        img(src="../src/img/colorLogo.svg", alt="Main Logo")
                    .header__nav-but-wrap
                        nav 
                            ul.mainMenu
                                li.active 
                                    a(href='#') Home
                                li 
                                    a(href='#') About Us
                                li
                                    a(href='#') Services
                                li
                                    a(href='#') Careers
                                li
                                    a(href='#') News
                                li
                                    a(href='#') Documentation
                        a(href="#").withBorder Cosmin Negoita
                             
            .footer-big
                .wrapper
                    .footer-big__main
                        .footer-big__logo
                            a.header__logo(href="#") 
                                img(src="../src/img/colorLogo.svg", alt="Main Logo")
                            p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.       
                        .footer-big__menus
                            .footer-big__list.footer-big__nav
                                h3.footer-big__headline navigation
                                ul
                                    li
                                        a(href="") About Us
                                    li
                                        a(href="") News
                                    li
                                        a(href="") Support
                                    li
                                        a(href="") Products
                            .footer-big__list.footer-big__about
                                h3.footer-big__headline about us
                                ul
                                    li
                                        a(href="") Who we are
                                    li
                                        a(href="") Our team
                                    li
                                        a(href="") Careers
                                    li
                                        a(href="") Investors
                            .footer-big__list.footer-big__support
                                h3.footer-big__headline support
                                ul
                                    li
                                        a(href="") Documentation
                                    li
                                        a(href="") Community
                                    li
                                        a(href="") Get in touch
                        .footer-big__subscribe
                            h3.footer-big__headline subscribe to ours newsletter
                            p Receive our latest news and promotions in your inbox!
                            form(action="#", method="post").formEmail
                                input(type="email", name="email", placeholder="Your email address")
                                input(type="submit", value="")
                    .footer-big__copyright
                        p Copyright © 2018 Toxin UI Kit. All rights reserved.
                        .footer-big__social 
                            a(href="").footer-big__twitter 
                            a(href="").footer-big__facebook 
                            a(href="").footer-big__instagram
            .footer-small
                .wrapper
                    .wrapper-column
                        .footer-small__logo
                            a(href="#") 
                                img(src="../src/img/colorLogo.svg", alt="Logo")
                        p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis. 
                        .footer-small__social
                            a(href="").footer-big__twitter 
                            a(href="").footer-big__facebook 
                            a(href="").footer-big__instagram
            .colors-type
                .wrapper
                    ul.color-squares
                        li  
                            div.square
                            div.color-descript
                                p Dark Shade 100%
                                p #1f2041
                        li
                            div.square._75
                            div.color-descript
                                p Dark Shade 75%
                                p #1f2041
                        li
                            div.square._50
                            div.color-descript
                                p Dark Shade 50%
                                p #1f2041
                        li
                            div.square._25
                            div.color-descript
                                p Dark Shade 25%
                                p #1f2041
                        li
                            div.square._5
                            div.color-descript
                                p Dark Shade 5%
                                p #1f2041
                        li
                            div.square.purple
                            div.color-descript
                                p Purple
                                p bc9cff
                        li  
                            div.square.green
                            div.color-descript
                                p Green
                                p #6fcf97
                    .headlines
                        table
                            tr
                                td
                                    h1 H1                            
                                td 
                                    h1 This one is the sub-section or widget title
                            tr
                                td 
                                    h2 H2
                                td
                                    h2 Next one is the item title inside widgets
                            tr
                                td
                                    h3 H3
                                td
                                    h3 This is a label or CTA text
                            tr
                                td
                                    p Body
                                td
                                    p This is the body text which is used for most of the design, like paragraphs, lists, etc.
            .form-elements
                .wrapper
                    .flex
                        form(action="#", method="post").formText
                            label(for="textfield") 
                                h3 Text field
                            input(type="text", name="textfield", placeholder="Email", id="textfield")
                        .dropdownGuests
                            form(action="#").dropdown
                                label(for="dropdown") 
                                    h3 Dropdown
                                input(id="dropdown" name="NCS", type="text", readonly, placeholder="Сколько гостей")
                            
                        
                        form(action="#", method="post").maskedText
                            label(for="maskedText") 
                                h3 Masked Textfield
                            input(type="text", placeholder="ДД.ММ.ГГГГ", id="maskedText", pattern="(0?[1-9]|[12][0-9]|3[01])/(0?[1-9]|1[012])/\d{4}")
                    .flex   
                        form(action="#", method="post").dataDropdown
                            label(for="") 
                                h3 Data Dropdown
                            input(type="text" class="datepicker-here" placeholder="ДД.ММ.ГГГГ" data-clear-Button="true" data-apply-Button="true")
                        form(action="#").filterDropdown
                            label(for="") 
                                h3 Filter Dropdown    
                            input(type="text" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here" data-clear-Button="true" data-apply-Button="true")
                        .email
                            h3 subscription textfield
                            form(action="#", method="post").formEmail
                                                            
                                input(type="email", name="email", placeholder="Your email address")
                                input(type="submit", value="")
                        form(action="#").expendCheck 
                            input(id="expander" type="checkbox")
                            label(for="expander" class="exCheckLabel")
                            ul.exCheckList
                                li
                                    input(type="checkbox" id="cfirst" name="first" hidden)
                                    label(for="cfirst") Завтрак
                                li
                                    input(type="checkbox" id="csecond" name="first" checked hidden)
                                    label(for="csecond") Письменный стол
                                li
                                    input(type="checkbox" id="cthird" name="first" checked hidden)
                                    label(for="cthird") Стул для кормления
                                li
                                    input(type="checkbox" id="cfourth" name="first" checked hidden)
                                    label(for="cfourth") Кроватка
                                li
                                    input(type="checkbox" id="cfifth" name="first" hidden)
                                    label(for="cfifth") Телевизор
                                li
                                    input(type="checkbox" id="csix" name="first" hidden)
                                    label(for="csix") Шампунь
                                li
                                    input(type="checkbox" id="cseven" name="first" hidden)
                                    label(for="cseven") Телевизор
                                li
                                    input(type="checkbox" id="ceight" name="first" hidden)
                                    label(for="ceight") Шампунь
                    .flex
                        .flex-col  
                            .roomFeature.comfort
                                p.roomFeature__headline Комфорт
                                p Шумопоглощающие стены
                            .roomFeature.udobstvo
                                p.roomFeature__headline Удобство
                                p Окно в каждой из спален
                        form(action="#").checkboxes
                            input(id="checkboxes" type="checkbox")
                            label(for="checkboxes" class="CheckLabel")
                            ul.CheckList
                                li
                                    input(type="checkbox" id="bfirst" name="first" hidden)
                                    label(for="bfirst") Завтрак
                                li
                                    input(type="checkbox" id="bsecond" name="first" checked hidden)
                                    label(for="bsecond") Письменный стол
                                li
                                    input(type="checkbox" id="bthird" name="first" checked hidden)
                                    label(for="bthird") Стул для кормления
                        form(action="#").radioButtons
                            h3 Radio buttons 
                            p
                                input(type="radio" id="test1" name="radio-group" checked)
                                label(for="test1") Мужчина
                            
                                input(type="radio" id="test2" name="radio-group")
                                label(for="test2") Женщина
                        form(action="#").toggleButton
                                h3 Toggle
                                .flex
                                    input(type="checkbox" id="cbx" style="display:none")
                                    label(for="cbx" class="toggle")
                                        span
                                    p Получать спецпредложения
                                    
                            
                            

script(src="../src/datepicker.min.js")
script
    include ncs.js                        
                        
                  
                            
                            
