include components/btnBorder/btnBorder.pug
include components/btnFill/btnFill.pug
include components/btnLong/btnLong.pug
include components/textField/textField.pug
include components/radioButton/radioButton.pug
include components/maskedField/maskedField.pug
include components/emailField/emailField.pug
include components/passwordField/passwordField.pug
include components/toggleButton/toggleButton.pug
include components/cardSliderRoom/cardSliderRoom.pug
include components/rateButton/rateButton.pug
include components/emailSubscribe/emailSubscribe.pug
include components/rangeSlider/rangeSlider.pug
include components/likeButton/likeButton.pug
include components/roomFeature/roomFeature.pug

doctype html
html
    head
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Toxin Hotel
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        include favicon.pug
    body
        main
            include components/headerButtons/headerButtons.pug
            include components/header/header.pug
            include components/footerBig/footerBig.pug
            include components/footerSmall/footerSmall.pug
            include components/colorsTypes/colorsTypes.pug
            include components/forms/forms.pug
            include components/cards/cards.pug

include components/scriptInjection/scriptInjection.pug

                            
                            
