doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Toxin Hotel
    body
        main
            header
                .wrapper   
                    a(href="#") 
                        img(src="../src/img/colorLogo.svg", alt="Main Logo")
                    nav 
                        ul.mainMenu
                            li 
                                a Home
                            li 
                                a About Us
                            li
                                a Services
                            li
                                a Careers
                            li
                                a News
                            li
                                a Documentation
                    .buttons
                        a.btn.btn-login login
                        a.btn.btn-register register
