include components/button/button.pug
include components/text-field/text-field.pug
include components/radio-button/radio-button.pug
include components/masked-field/masked-field.pug
include components/toggle-button/toggle-button.pug
include components/card-slider-room/card-slider-room.pug
include components/rate-button/rate-button.pug
include components/email-subscribe/email-subscribe.pug
include components/range-slider/range-slider.pug
include components/like-button/like-button.pug
include components/room-feature/room-feature.pug
include components/expend-checkbox/expend-checkbox.pug
include components/bullet-list/bullet-list.pug
include components/check-boxes/check-boxes.pug
include components/rich-check-box/rich-check-box.pug

doctype html
html
    head
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Toxin Hotel
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png")
        link(rel="manifest" href="./favicons/site.webmanifest")
        link(rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        main
            include components/header-buttons/header-buttons.pug
            include components/header/header.pug
            include components/footer-big/footer-big.pug
            include components/footer-small/footer-small.pug
            include components/colors-types/colors-types.pug
            include components/forms/forms.pug
            include components/cards/cards.pug

include components/script-injection/script-injection.pug

                            
                            
