include components/btnBorder/btn-border.pug
include components/btnFill/btn-fill.pug
include components/btnLong/btn-long.pug
include components/textField/text-field.pug
include components/radioButton/radio-button.pug
include components/maskedField/masked-field.pug
include components/emailField/email-field.pug
include components/passwordField/password-field.pug
include components/toggleButton/toggle-button.pug
include components/cardSliderRoom/card-slider-room.pug
include components/rateButton/rate-button.pug
include components/emailSubscribe/email-subscribe.pug
include components/rangeSlider/range-slider.pug
include components/likeButton/like-button.pug
include components/roomFeature/room-feature.pug

doctype html
html
    head
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Toxin Hotel
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        include favicon.pug
    body
        main
            include components/headerButtons/header-buttons.pug
            include components/header/header.pug
            include components/footerBig/footer-big.pug
            include components/footerSmall/footer-small.pug
            include components/colorsTypes/colors-types.pug
            include components/forms/forms.pug
            include components/cards/cards.pug

include components/scriptInjection/script-injection.pug

                            
                            
