

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-regular/montserrat-regular.eot');
  src: url('../fonts/Montserrat-regular/montserrat-regular.woff') format('woff'),
       url('../fonts/Montserrat-regular/montserrat-regular.ttf') format('truetype'),
       url('../fonts/Montserrat-regular/montserrat-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MontserratBold';
	src: url('../fonts/Montserrat-bold/montserrat-Bold.eot');
  src: url('../fonts/Montserrat-bold/montserrat-Bold.woff') format('woff'),
       url('../fonts/Montserrat-bold/montserrat-Bold.ttf') format('truetype'),
       url('../fonts/Montserrat-bold/montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'quicksand';
	src: url('../fonts/Quicksand/Quicksand-regular.eot');
  src: url('../fonts/Quicksand/Quicksand-regular.woff') format('woff'),
       url('../fonts/Quicksand/Quicksand-regular.ttf') format('truetype'),
       url('../fonts/Quicksand/Quicksand-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'quicksandBold';
	src: url('../fonts/QuicksandBold/Quicksand-bold.eot');
  src: url('../fonts/QuicksandBold/Quicksand-bold.woff') format('woff'),
       url('../fonts/QuicksandBold/Quicksand-bold.ttf') format('truetype'),
       url('../fonts/QuicksandBold/Quicksand-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import 'datepicker.min';
@import 'numbercategoryselector';
@import 'numbercategoryselectorGuest';
@mixin outline1{
  outline:1px solid black;
}

$bgColor: #f4f4f6;

body,
ul,
a{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  color: rgba(31, 32, 65, 0.5);
  list-style: none;
  text-decoration: none;
}
h1{
  font-size: 24px;
  line-height: 30px;
}
h2{
  font-size: 19px;
  line-height: 24px;
}
h3{
  font-size: 12px;
  line-height: 15px;
  font-family: 'MontserratBold';
  font-weight: bold;
  text-transform: uppercase;
  color:#1F2041;
  opacity: 0.75;
}
main{
  margin: 0 auto;
  width:100%;
  display: flex;
  @include outline1();
  background: $bgColor url(../img/mainLogo.svg) no-repeat 14.1% 1.875rem;
  flex-wrap: wrap;
}

.headerButtons{
  background: #FFFFFF;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  height: 4.375rem;
  width: 100%;
  margin: 9.5rem 0 0 0;
  display: flex;
}
.wrapper{
  width: 100%;
  display: flex;
  margin: auto 19.55%;
  justify-content: space-between;
  flex-wrap: wrap;
  .header__logo{
    display: inline;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.header__nav-but-wrap{
  display: flex;
}
.mainMenu{
  list-style: none;
  margin: 0.7em 2.2em 0 0px;
  padding: 0;
  li{
    display: inline-block;
    margin: 0 0 0 1.75rem;
    position: relative;
  }
  li a{
    font-size: 0.875rem;
    color: rgba(31, 32, 65, 0.5);
  }
  li:nth-child(3) a::after{
    content: '';
    display: inline-block;
    width: 1.0625rem;
    height: 1.0625rem;
    background: url(../img/arrowDown.svg) no-repeat;
    position: absolute;
    top: -0.1875rem;
    left: 3.4375rem;
    opacity: 0.5;
  }
  li.active a{
    font-family: 'MontserratBold';
    color: rgba(31, 32, 65, 0.75);
  }
}
.headerButtons__buttons{
  position: relative;
  z-index: 0;
  padding: 0.6875rem 0 0 0;
  a:nth-child(2){
    margin: 0 0 0 1.3125rem;
  }
}

.btn-register{
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-family: 'MontserratBold';
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 0.625rem 1.1875rem;
}
.btn-register:hover,
.btn-register:active{
  opacity: 0.5;
}
.btn-login{
  position: relative;
  font-family: 'MontserratBold';
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #BC9CFF;
  border-radius:1.37em;
  padding: 0.55em 1.5em;
  background-color: #ffffff;
}

.btn-login::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -0.125rem;
  right: -0.125rem;
  bottom: -0.125rem;
  left: -0.125rem;
  border-radius: 22px;
  background: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
}
.btn-login:hover::before,
.btn-login:active::before{
  opacity: 0.5;
}
.header{
  background: #FFFFFF;
  box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
  height: 4.375rem;
  width: 100%;
  margin: 2.5rem 0 0 0;
  display: flex;
}
.withBorder{
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  padding: 0.6875rem 0 0 1.9375rem;
}

.footer-big{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  margin: 2.3125rem 0 0 0;
  padding: 6.25rem 0 0px 0px;
  display: flex;
  position: relative;
  
}
.footer-big >.wrapper{
  flex-wrap: wrap;
}
.footer-big__main{
  display: flex;
  padding: 0.0625rem 0 5.625rem 0;
  justify-content: space-between;
  width: 100%;
}
.footer-big__logo{
  max-width: 16.25rem;
  p{
    font-family: 'Montserrat';
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
    letter-spacing: -0.0063rem;
  }
}

.footer-big__menus{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.footer-big__list{
  margin: 0 43px 0 0;
 
  ul{
    margin: 0.625rem 0 0 0;
  }
  
  li{
    line-height: 2.375rem;
  }
}
.footer-big__support{
  margin: 0 49px 0 0px;
}
.footer-big__headline{
    font-family: 'MontserratBold';
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #1F2041;
    margin: 0.3125rem 0 0 0;
    }
.footer-big__subscribe{
  p{
      margin: 20px 0 0 0;
      line-height: 1.375rem;
    }
  h3{
    letter-spacing: -0.0375rem;
  }
}
.formEmail{
  width: 16.25rem;
  height: 2.75rem;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  background: #FFFFFF;
  margin: 1.5625rem 0 0 0;
    input[type="email"]{
      border: none;
      padding: 0px  0 0.25rem 0.9375rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: rgba(31, 32, 65, 0.75);
      outline: none; 
      vertical-align: middle;
      font-family: 'Montserrat';
    }
    
    input:focus::placeholder{
      color: rgba(31, 32, 65, 0);
    }
    input[type="submit"]{
      background: url(../img/arrowInput.svg) no-repeat;
      border: none;
      outline: none;
      margin: 0.8125rem 0 0 0.6875rem;
      width: 1.125rem;
      height: 1.125rem;
    }
    input[type="submit"]:hover{
      cursor:pointer;}
}

.footer-big__copyright{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  p{
    padding: 0.9375rem 0 0 0;
    letter-spacing: -0.0063rem;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: rgba(31, 32, 65, 0.75);
  }
}
.footer-big::after{
  width: 100%;
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  background: $bgColor;
  bottom:70px;
}
.footer-big__social{
  padding: 27px 0 0 0;
    
}


.footer-big__twitter,
.footer-big__facebook,
.footer-big__instagram{
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../img/css_sprites.png) no-repeat;
  margin: 0 22px 0 0;
}
.footer-big__twitter{
  background: url(../img/css_sprites.png) no-repeat -10px -52px;
}
.footer-big__facebook{
  background: url(../img/css_sprites.png) no-repeat -10px -10px;
}
.footer-big__instagram{
  background: url(../img/css_sprites.png) no-repeat  -52px -10px;
  margin: 0;
}

.footer-small{
  background: #FFFFFF;
  margin: 40px 0 0 0;
  max-height: 367px;
  width: 100%;
  display: flex;
  padding: 0 0 106px 0;
}

.wrapper-column{
  flex-direction: column;
  width: 100%;
  align-items: center;
  display: flex;
  p{
    max-width: 560px;
    text-align: center;
    margin: 14px 0 0 0;
    line-height: 23px;
  }
}

.footer-small__logo{
  padding:101px 0 0 0;
}

.footer-small__social{
  margin: 31px 0 0 0;
}

.colors-type{
  width: 100%;
  display: flex;
  margin: 30px 0 0 0;
}
.color-squares li{
  display: flex;
}
.square{
  width: 70px;
  height: 70px;
  background: #1F2041;
  border-radius: 6px;
  
}
._75{
  opacity: 0.75;
}
._50{
  opacity: 0.5;
}
._25{
  opacity: 0.25;
}
._5{
  opacity: 0.05;
}
.purple{
  background: #BC9CFF;
}
.green{
  background: #6fcf97;
}
.color-descript{
  margin: 0 0 0 20px;
  p{
    font-family: 'Quicksand';
    font-size: 1.1875rem;
    line-height: 1.8125rem;
    color: #1F2041;
    text-transform: uppercase;
    margin: 6px 10px;
  }
  p:first-child{
    font-family: 'QuicksandBold';
    text-transform: none;
  }
}

.headlines table tr td:first-child{
  text-align: right;
  padding: 0 50px 0 0;
  color: rgba(31, 32, 65, 0.25);
  font-family: 'Montserrat';
  font-weight: normal;
}

.headlines table tr td:nth-child(2){
  font-family: 'QuicksandBold';
  color: #1F2041;
}
.form-elements{
  width: 100%;
  margin: 50px 0 0 0;
  display: flex;
}
#textfield,
#maskedText{
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding: 0 0 0 15px;

}
#textfield:hover,
#textfield:focus{
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}
#textfield:focus::placeholder{
  opacity:0;
}


.formDropdown{
  margin: 20px 0 10px 0;
  input[type="submit"]{
  background: url(../img/arrowDown.svg) no-repeat;
  border: none;
  outline: none;
  margin: 0.8125rem 0 0 0.6875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 4px;
  }
  select{
    width: 320px;
    display: block;
    padding: 10px 70px 10px 13px !important; 
    max-width: 100%; 
    height: 44px; 
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    background: url("../img/arrowDown.svg") right center no-repeat; 
    background-color: #fff; 
    color: #444444; 
    font-size: 12px; 
    line-height: 16px !important; 
    appearance: none; 
    /* this is must */ -webkit-appearance: none; 
    -moz-appearance: none;
    option{
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 5px;
    }
  }
  
}
.dataDropdown{
  input{
    width: 150px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding: 0px 0px 1px 14px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    background: #fff url(../img/arrowDown.svg)  no-repeat 114px 11px;
    box-sizing: border-box;
  }
}
.filterDropdown{
  input{
    width: 266px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding: 0px 0px 1px 14px;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    background: #fff url(../img/arrowDown.svg)  no-repeat right 10px center;
    box-sizing: border-box;
  }
}

.flex{
  display: flex;
  form{
    margin: 10px;
  }
}
.flex-column{
  display: flex;
  flex-direction: column;
  margin: auto 20px;
  form{
    margin: 10px;
  }
}
.email{
  h3{
    margin: 20px 0 0 20px;
  }
}


.exCheckList {
    max-height: 0em;
    overflow: hidden;
    margin: 18px 0 0 24px;
    padding: 0;
    transition: max-height 0.35s ease-in;
    width: 266px;
    li{
      margin: 0 0 10px 0;
      height: 20px;
    }
    #expander:checked ~ & {
      max-height: 17em;
    }
    input[type="checkbox"]{
      display:none;            
    }
    input[type="checkbox"] + label{
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.5);
      cursor: pointer;
    }
    input[type="checkbox"] + label::before{
      content: "";
      display: inline-block;
      margin: 0 10px 0 0;
      width: 20px;
      height: 20px;
      background: #FFFFFF;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 4px;
      position: relative;
      top: 4px;
    }
    input[type="checkbox"]:checked + label::before {
      background: url(../img/checked.png) no-repeat top left;
      border: none;  
      
    }
}
  
.exCheckLabel {
    position: relative;
    
    &:hover {
      color: orange;
    }
    
    &:after {
      content: 'Expandable checkbox list';
      white-space: nowrap;
      position: absolute;
      cursor: pointer;
      bottom: 0;
      left: 2em;
      background: url(../img/arrowDown.png) no-repeat 238px;
      width: 266px;
      font-family: 'MontserratBold';
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1F2041;
      
    }
    #expander:checked + &:after {
        content: 'Expandable checkbox list';
        background: url(../img/expand_more.png) no-repeat 238px;
        width: 266px;
      }
}
  
#expander {
    display: none;
}

.roomFeature{
  width: 291px;
  margin: 20px 0 0 0;
  padding: 0 0 18px 0px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  p{
    padding: 0 0 5px 54px;
    margin: 0;
    color: rgba(31, 32, 65, 0.75);
  }
  .roomFeature__headline{
    font-family: 'MontserratBold';
    
  }
  &.comfort{
    background: url(../img/comfort.png) no-repeat;
  }
  &.udobstvo{
    background: url(../img/udobstvo.png) no-repeat;
  }
}

.flex form.checkboxes{
  margin: auto;
}
.CheckList {
  margin: 18px 0 0 24px;
  padding: 0;
  width: 266px;
  li{
    margin: 0 0 10px 0;
    height: 20px;
  }
  input[type="checkbox"]{
    display:none;            
  }
  input[type="checkbox"] + label{
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
  }
  input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    top: 4px;
  }
  input[type="checkbox"]:checked + label::before {
    background: url(../img/checked.png) no-repeat top left;
    border: none;  
  }
  
}
#checkboxes{
    display: none;
   
  }
  .CheckLabel {
    position: relative;
    
    &:hover {
      color: orange;
    }
    
    &:after {
      content: 'Checkbox buttons';
      white-space: nowrap;
      position: absolute;
      bottom: 0;
      left: 2em;
      width: 266px;
      font-family: 'MontserratBold';
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1F2041;
      
    }
    
}

.radioButtons{
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: rgba(31, 32, 65, 0.75);
      margin: 0 20px 0 0;
  }
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:before{
      border: 1px solid #BC9CFF;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      position: absolute;
      top: 5px;
      left: 5px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}





.toggleButton{
  p{
    margin: 0 0 0 10px;
  }
}

.toggle{
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0,0,0);
  &:before{
    content: "";
    position: relative;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 20px;
    display: block;
    background: #fff;
    border-radius: 10px;
    transition: background .2s ease;
    border: 1px solid rgba(31, 32, 65, 0.25);
  }
  span{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
    display: block;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    transition: all .2s ease;
    &:before{
      content: "";
      position: absolute;
      display: block;
      margin: -18px;
      width: 56px;
      height: 56px;
      background: rgba(#4F2EDC,.5);
      border-radius: 50%;
      transform: scale(0);
      opacity: 1;
      pointer-events: none;
    }
  }
}
#cbx:checked + .toggle{
  &:before{
    background: #FFFFFF;
    border: 1px solid #BC9CFF;
    
  }
  span{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    transform: translateX(20px);
    transition: all .2s cubic-bezier(.8,.4,.3,1.25), background .15s ease;
  }
    &:before{
      transform: scale(1);
      transition: all .4s ease;
      
    }
}


.my {
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: inline-block;
  width: 40px;
  height: 20px;
  line-height: 18px;
  padding: 0 8px;
  position: relative;
  font-size: 10px;
  text-decoration: none;
  background:#fff url(../img/like_border.svg) no-repeat 4px 6px;
}
/*
 * Counter button style
 */

.my-counter:after {
  padding: 0 14px;
  color: rgba(31, 32, 65, 0.25);
  content: attr(data-count);
  left: 10;
/*   margin-left: 8px;
  margin-right: -13px; */
  position: absolute;
  top: 1px;
  
}

.my {
  color: rgba(31, 32, 65, 0.25);
}
.my:hover,
.my.active {
  background:#fff url(../img/like.svg) no-repeat 4px 6px;
  border: 1px solid #BC9CFF;
  color: #BC9CFF;
}
.my:hover:after,
.my.active:after{
  color: #BC9CFF;
 
} 


.rating{
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: 120px;
  height: 24px;
    input{
    opacity: 0;
    margin-right: -100%;
  }
  label{
    position: relative;
    display: block;
    float: right;
    background: url('../img/star_border.png') no-repeat;
    background-size: 24px 24px;
  }
  label:before{
    display: block;
    opacity: 0;
    content: '';
    width: 24px;
    height: 24px;
    background: url('../img/star.png') no-repeat;
    background-size: 24px 24px;
    transition: opacity 0.2s linear;
  }
}
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating:not(:hover) > :checked ~ label:before{
  opacity: 1;
}


#amount{
  background: $bgColor;
  border:0;
  font-family: 'Montserrat';
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  margin: 0 0 20px 0;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 12px;
	height: 12px;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: 6px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -6px;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none;
}

.ui-widget {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget.ui-widget-content {
	border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
  width: 266px;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #dddddd;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	color: #333333;
	font-weight: bold;
}
.ui-widget-header a {
	color: #333333;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 2px solid #FFFFFF;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	font-weight: normal;
	color: #454545;
  border-radius: 10px;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
	color: #454545;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 2px solid #FFFFFF;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	font-weight: normal;
	color: #2b2b2b;
}