mixin expanded-checkbox-list(options)
    form.expanded-checkbox(action="#")
        input.expanded-checkbox__input(id="expander" type="checkbox")
        label.expanded-checkbox__label(for="expander")
        ul.expanded-checkbox__list
            each item in options
                li.expanded-checkbox__list-item
                    input.expanded-checkbox__list-input(type="checkbox" id=`c${item.id}` name=`${item.id}` checked=item.checked hidden)
                    label(for=`c${item.id}`)=item.content
