mixin expanded-checkbox-list(options)
    form(action="#")
        input(id="expander" type="checkbox")
        label.expanded-checkbox-label(for="expander")
        ul.expanded-checkbox-list
            each item in options
                li.expanded-checkbox-list__item
                    input.expanded-checkbox-list__input(type="checkbox" id=`c${item.id}` name=`${item.id}` checked=item.checked hidden)
                    label(for=`c${item.id}`)=item.content
