include ../components/text-field/text-field.pug
include ../components/email-subscribe/email-subscribe.pug
include ../components/button/button.pug
include ../components/header-buttons/header-buttons.pug
include ../components/cards/cards.pug
include ../components/forms/forms.pug
include ../components/header/header.pug
include ../components/footer-big/footer-big.pug
include ../components/card-search-room/card-search-room.pug
include ../components/dropdown-guest/dropdown-guest.pug
include ../components/review/review.pug
include ../components/data-dd-filter/data-dd-filter.pug
include ../components/data-dropdown/data-dropdown.pug
include ../components/card-login/card-login.pug
doctype html
html
    head
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Toxin Hotel
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png")
        link(rel="manifest" href="./favicons/site.webmanifest")
        link(rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        main
            .header-buttons
                +header-buttons({
                    list:[
                        {content: "О нас", active: true},
                        {content:"Услуги"},
                        {content: "Вакансии"},
                        {content: "Новости"},
                        {content: "Соглашения"}
                    ],
                    loginButtonStyle: "border",
                    loginButton: "войти",
                    loginRef: "./login-page.html",
                    registerButtonStyle: "fill",
                    registerButton: "зарегистрироваться",
                    registerRef: "./reg-page.html"
                    })
            include ../components/login-page-body/login-page-body.pug
            .footer-big-margin
                +footer-big({
                    list:{
                        navigation:{
                            header: "навигация",
                            itemList:[ "О нас", "Новости", "Служба поддержки", "Услуги"]
                        },
                        aboutUs:{
                            header: "О нас",
                            itemList:[ "О сервисе", "Наша команда", "Вакансии", "Инвесторы"]
                        },
                    support:{
                            header: "Служба поддержки",
                            itemList:["Соглашения", "Сообщества", "Связь с нами"]
                        }
                    },
                    subscribeContent: "Получайте специальные предложения и новости сервиса",
                    subscribeHeadline: "Подписка",
                    logoContent: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
                    emailId: "email",
                    emailPlaceholder: "Email",
                    copyrightContent: "Copyright © 2018 Toxin отель. Все права зачищены."
                    })
            

                            
                            
