.registerAccount{
    .registerAccount__header{
      letter-spacing: -0.0375rem;
    }
    .textfield{
      margin: 0 0 0.625rem 0;
    }
    .registerAccount__birthday{
      margin: 1.5625rem 0 0.3125rem 0;
    }
    .registerAccount__enterData{
      margin: 0.625rem 0 0.3125rem 0;
    }
    .flex-wrapper{
      margin: 0rem 0 0.1875rem 0;
    }
    .button_long{
      margin: 0 0 1.875rem 0;
    }
    
  }
  