mixin card-register(data)    
    .register-account
        h1.register-account__header=data.header 
        +textfield(data.textfieldName.id, data.textfieldName.placeholder, data.textfieldName.type)
        +textfield(data.textfieldLastname.id, data.textfieldLastname.placeholder, data.textfieldLastname.type)
        p.radio-buttons-block
            +radio-button(data.radiobuttonMan.id, data.radiobuttonMan.content, data.radiobuttonMan.name)
            +radio-button(data.radiobuttonWoman.id, data.radiobuttonWoman.content, data.radiobuttonWoman.name)
        h3.register-account__birthday= data.birth
        +masked-textfield(data.maskedText.id, data.maskedText.placeholder)
        h3.register-account__enterData=data.enterData
        +textfield(data.emailField.id, data.emailField.placeholder, data.emailField.type)
        +textfield(data.passwordField.id, data.passwordField.placeholder, data.passwordField.type)
        .flex-wrapper
            +toggle-button(data.toggleButtonId)
            p.register-account__special-offer=data.offer
        +button(data.buttonLongStyle, data.buttonLongContent)
        p.have-account Уже есть аккаунт на Toxin
            +button(data.buttonBorderStyle, data.buttonBorderContent)

