.card.registerAccount
    h1 Регистрация аккаунта
    +textField(data.cardRegister.textfieldName.id, data.cardRegister.textfieldName.placeholder, data.cardRegister.textfieldName.type)
    +textField(data.cardRegister.textfieldLastname.id, data.cardRegister.textfieldLastname.placeholder, data.cardRegister.textfieldLastname.type)
    p
        +radioButton(data.cardRegister.radiobuttonMan.id, data.cardRegister.radiobuttonMan.content, data.cardRegister.radiobuttonMan.name)
        +radioButton(data.cardRegister.radiobuttonWoman.id, data.cardRegister.radiobuttonWoman.content, data.cardRegister.radiobuttonWoman.name)
    h3.registerAccount__birthday дата рождения
    +maskedTextfield(data.cardRegister.maskedText.id, data.cardRegister.maskedText.placeholder)
    h3.registerAccount__enterData данные для входа в сервис
    +textField(data.cardRegister.emailField.id, data.cardRegister.emailField.placeholder, data.cardRegister.emailField.type)
    +textField(data.cardRegister.passField.id, data.cardRegister.passField.placeholder, data.cardRegister.passField.type)
    .flex
        +toggleButton(data.cardRegister.toggleBtnId)
        p Получать спецпредложения
    +button(data.cardRegister.btnLongStyle, data.cardRegister.btnLongContent)
    p.haveAccount Уже есть аккаунт на Toxin
        +button(data.cardRegister.btnBorderStyle, data.cardRegister.btnBorderContent)