.registerAccount{
  
    h1{
      letter-spacing: -0.6px;
    }
    input{
      margin: 0 0 10px 0;
    }
    input[type="password"]{
      margin: 0 0 8px 0;
    }
    .registerAccount__birthday{
      margin: 25px 0 5px 0;
    }
    .registerAccount__enterData{
      margin: 10px 0 5px 0;
    }
    .flex{
      margin: 0px 0 3px 0;
      p{
      margin: 0 0 20px 10px;
      line-height: 22px;
      }
    }
    .button_long{
      margin: 0 0 30px 0;
    }
    
  }
  