.card{
    width: 380px;
    padding: 40px 30px 30px 30px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    h1{
      font-family: 'MontserratBold';
      font-size: 24px;
      line-height: 30px;
      color: #1F2041;
      margin: 0 0 20px 0;
      letter-spacing: -0.4px;
    }
    .button_border{
      margin: 2px 0 0 36px;
      width: 96px;
      height: 40px;
      box-sizing: border-box;
      display: inline-block;
      line-height: 26px;
    }
    .haveAccount{
      font-size: 14px;
      line-height: 18px;
      color: #000;
      
    }
  }