mixin card-register({header="header", textfieldName={id, placeholder, type}, textfieldLastname={id, placeholder, type}, radiobuttonMan={id, content, name}, radiobuttonWoman={id, content, name}, birth='Birthday', maskedText={id, placeholder}, enterData='enter data', emailField={id, placeholder, type}, passwordField={id, placeholder, type}, toggleButtonId='toggle button', offer='special offer', buttonBorderContent='Border Template', buttonBorderStyle='border', buttonLongStyle='long',buttonLongContent='Long Template'}={})    
    .register-account
        h1.register-account__header=header 
        +textfield(textfieldName.id, textfieldName.placeholder, textfieldName.type)
        +textfield(textfieldLastname.id, textfieldLastname.placeholder, textfieldLastname.type)
        p.radio-buttons-block
            +radio-button(radiobuttonMan.id, radiobuttonMan.content, radiobuttonMan.name)
            +radio-button(radiobuttonWoman.id, radiobuttonWoman.content, radiobuttonWoman.name)
        h3.register-account__birthday= birth
        +masked-textfield(maskedText.id, maskedText.placeholder)
        h3.register-account__enterData=enterData
        +textfield(emailField.id, emailField.placeholder, emailField.type)
        +textfield(passwordField.id, passwordField.placeholder, passwordField.type)
        .flex-wrapper
            +toggle-button(toggleButtonId)
            p.register-account__special-offer=offer
        +button(buttonLongStyle, buttonLongContent)
        p.have-account Уже есть аккаунт на Toxin
            +button(buttonBorderStyle, buttonBorderContent)

