mixin card-register({header="header", textfieldName={id, placeholder, type}, textfieldLastname={id, placeholder, type}, radiobuttonMan={id, content, name}, radiobuttonWoman={id, content, name}, birth='Birthday', maskedText={id, placeholder}, enterData='enter data', emailField={id, placeholder, type}, passwordField={id, placeholder, type}, toggleButtonId='toggle button', offer='special offer', buttonBorderContent='Border Template', buttonBorderStyle='border', buttonLongStyle='long',buttonLongContent='Long Template'}={})    
    .card-register
        h1.card-register__header=header 
        .card-register__textfield-margin
            +textfield(textfieldName.id, textfieldName.placeholder, textfieldName.type)
        .card-register__textfield-margin
            +textfield(textfieldLastname.id, textfieldLastname.placeholder, textfieldLastname.type)
        p.card-register__radio-buttons-block
            +radio-button(radiobuttonMan.id, radiobuttonMan.content, radiobuttonMan.name)
            +radio-button(radiobuttonWoman.id, radiobuttonWoman.content, radiobuttonWoman.name)
        h3.card-register__birthday= birth
        +masked-field(maskedText.id, maskedText.placeholder)
        h3.card-register__enterData=enterData
        .card-register__textfield-margin
            +textfield(emailField.id, emailField.placeholder, emailField.type)
        .card-register__textfield-margin    
            +textfield(passwordField.id, passwordField.placeholder, passwordField.type)
        .card-register__flex-wrapper
            +toggle-button(toggleButtonId)
            p.card-register__special-offer=offer
        .card-register__button_long-margin
            +button(buttonLongStyle, buttonLongContent)
        p.card-register__have-account Уже есть аккаунт на Toxin
            span.card-register__button_border-big-margin
                +button(buttonBorderStyle, buttonBorderContent)

