.card-register {
  width: 380px;
  padding: 40px 30px 30px 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1;

  &__header {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
    margin: 0 0 20px 0;
    letter-spacing: -0.0375rem;
  }

  &__button_border-big-margin {
    margin: 2px 0 0 36px;
    display: inline;
  }

  &__have-account {
    font-size: 14px;
    line-height: 18px;
    color: #000;
  }

  &__textfield-margin {
    margin: 0 0 0.625rem 0;
  }

  &__birthday {
    margin: 1.5625rem 0 0.3125rem 0;
  }

  &__enterData {
    margin: 0.625rem 0 0.3125rem 0;
  }

  &__flex-wrapper {
    margin: 0rem 0 0.1875rem 0;
    display: flex;
  }

  &__button_long-margin {
    margin: 1.25rem 0 1.875rem 0;
  }
}

@media screen and (max-width: 500px) {
    .card-register {
      width: 18.75rem;
      padding: 0.438rem 0.875rem 0.875rem 0.875rem;

      &__header {
        font-size: 1.2rem;
        text-align: center;
      }

      &__button_border-big-margin {
        margin: 0.125rem 0 0 44px;
        width: auto;
      }

      &__have-account {
        font-size: 0.67rem;
      }
    }
  
}