.textfield{
    width: 20rem;
    height: 2.75rem;
    background: #fff;
    border: 0.0625rem solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 0.25rem;
    
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: rgba(31, 32, 65, 0.25);
    padding: 0 0 0 0.9375rem;

}
.textfield:hover,
.textfield:focus{
    border: 0.0625rem solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75);
}
.textfield:focus::placeholder{
    opacity:0;
}