.datepicker-filter {
    width: 16.625rem;
    height: 2.75rem;
    border: 0.0625rem solid rgba(31, 32, 65, 0.25);
    border-radius: 0.25rem;
    padding: 0rem 0rem 0.0625rem 0.875rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: rgba(31, 32, 65, 0.75);
    background: #fff url(../../img/arrow-down.svg) no-repeat right 0.625rem center;
    box-sizing: border-box;
}