.cardSmall{
    width: 270px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    z-index: 1;  
  }
  .roomSlider{
      padding: 0;
      margin: 20px 0 0 0;
      .roomSlider__priceHeadline{
        margin: 20px 0 0 20px;
        justify-content: space-between;
      }
      .roomSlider__price{
        margin: 3px 12px 0px 0px;
      }
      .roomSlider__number{
        font-family: 'MontserratBold';
        font-size: 19px;
        line-height: 24px;
        color: #1F2041;
        letter-spacing: -1px;
      }
      .roomSlider__num{
        font-size: 14px;
        line-height: 17px;
        margin: 0 3px 0 0;
      }
      .roomSlider__lux{
        font-family: 'MontserratBold';
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #BC9CFF;
      }
    .roomSlider__rating{
      margin: 16px 0 17px 0;
      justify-content: space-between;
    }  
    .rating{
      margin: 0px 0 0 20px;
    }
    .roomSlider__reviewsAmount{
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 18px;
      text-align: right;
      color: rgba(31, 32, 65, 0.5);
      margin: 5px auto;
      b{
        font-family: 'MontserratBold';
      }
    }
  }