mixin slider-room({number='111', price='100', reviews='5', isLux=""}={})
    .slider-room
        +flex-slider(number, 4)           
        a(href="./room-detail.html")
            .slider-room__price-headline
                p.slider-room__number
                    span.slider-room__num №
                    span.slider-room__number #{number}
                    span.slider-room__lux  #{isLux}
                p.slider-room__price= price +"₽ в сутки"
            .slider-room__rating-margin
                +rate-button(number, 4)                               
                p.slider-room__reviewsAmount <b>#{reviews}</b> Отзывов