.form-elements {
  .wrapper {
    flex-wrap: wrap;
  }

  .buttons-block {
    &__content {
      display: flex;

    }

    &__header {
      margin: 1.25rem;
    }

    &__button-margin {
      margin: 1.25rem;
    }
  }

  .checkboxes__header {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: #1F2041;
    margin: 0 0 0 1.25rem;
  }

  .email-subscribe-margin {
    margin: 1.5625rem 0 0 0;
  }
  .email-subscription-field {
    &__header {
      margin: 1.25rem 0 0 1.25rem;
    }
  }
  .expanded-checkbox-list-margin {
    margin: 1.125rem 0 0 1.5rem;
  }

  .checkbox-margin {
    margin: 1.125rem 0 0 1.5rem;
  }

  .rich-checkbox-margin {
    margin: 1.125rem 0 0 1.5rem;
  }

  .room-feature-margin {
    margin: 1.25rem 0 0 0;
  }
}