mixin forms(data)
        .flex
            .formText
                h3 Text field
                +textField(data.textfieldId, data.textfieldPlaceholder)
                .dropdownRooms
                form(action="#").dropdown
                    h3 Dropdown
                    include ../dropdown-room/dropdown-room.pug
                
            
            .maskedText
                h3 Masked Textfield
                +maskedTextfield(data.maskedTextId, data.maskedTextPlaceholder)
        .flex   
            .date
                h3 Data Dropdown
                include ../data-dropdown/data-dropdown.pug
                
            .filterDropdown
                label(for="") 
                    h3 Filter Dropdown    
                include ../data-dd-filter/data-dd-filter.pug
            .email
                h3 subscription textfield
                +emailSubscribe(data.emailSubId, data.emailSubPlaceholder)
            include ../expend-checkbox/expend-checkbox.pug
        .flex
            .flex-col  
                +roomFeature(data.roomFeatureComfort.ImgName, data.roomFeatureComfort.Header, data.roomFeatureComfort.Body)
                +roomFeature(data.roomFeatureUdobstvo.ImgName, data.roomFeatureUdobstvo.Header, data.roomFeatureUdobstvo.Body)
            include ../check-boxes/check-boxes.pug
            .radioBut
                h3 Radio buttons
                p
                    +radioButton(data.radioId1, data.radioContent1, data.radioName)
                    +radioButton(data.radioId2, data.radioContent2, data.radioName)
            .toggleBut
                    h3 Toggle
                    .flex
                        +toggleButton(data.toggleButtonId)
                        p Получать спецпредложения
        .flex   
            .flex-column 
                h3 like button
                +likeButton(data.likeCount)
            .flex-column
                h3 rate button
                +rateButton(data.ratingNumber0)
            .flex-column
                +rangeSlider(data.rangeSliderLabel)
        .flex
            .clickMe
                h3 Buttons
                +button(data.btnFillStyle, data.btnFillContent)  
                +button(data.btnBorderStyle, data.btnBorderContent)    
                a.linkPurple(href='#') click me  
                +button(data.btnLongStyle, data.btnLongContent)
            include ../pagination/pagination.pug
        .flex
            .richChbox
                h3 rich checkbox buttons
                include ../rich-check-box/rich-check-box.pug
            .bullet
                h3 Bullet list
                include ../bullet-list/bullet-list.pug     
        .flex
            include ../review/review.pug

.form-elements
    .wrapper
        +forms({
            textfieldId: "textfield",
            textfieldPlaceholder: "Email",
            maskedTextId: "maskedText",
            maskedTextPlaceholder: "ДД.ММ.ГГГГ",
            emailSubId: "subs2",
            emailSubPlaceholder: "Your email address",
            roomFeatureComfort: {
                    ImgName: "comfort",
                    Header: "Комфорт",
                    Body: "Шумопоглощающие стены"
                },
            roomFeatureUdobstvo: {
                    ImgName: "udobstvo",
                    Header: "Удобство",
                    Body: "Окно в каждой из спален"
                },
            radioId1: "test1",
            radioId2: "test2",
            radioContent1: "Мужчина",
            radioContent2: "Женщина",
            radioName: "radio-group",
            toggleButtonId: "cbx",
            likeCount: 5,
            ratingNumber0: 0,
            rangeSliderLabel: "Range Slider",
            btnFillContent: "click me",
            btnFillStyle: "fill",
            btnBorderContent: "click me",
            btnBorderStyle: "border",
            btnLongContent: "перейти к оплате",
            btnLongStyle: "long"

        })