mixin forms(data)
        .flex-wrapper
            .form-text
                h3.form-text__headline Text field
                +textfield(data.textfieldId, data.textfieldPlaceholder, data.textfieldType)
                .dropdownRooms
                form(action="#").dropdown
                    h3.form-text__headline Dropdown
                    include ../dropdown-room/dropdown-room.pug
                
            
            .masked-text
                h3.maskedText__headline Masked Textfield
                +masked-textfield(data.maskedTextId, data.maskedTextPlaceholder)
        .flex-wrapper   
            .date
                h3.date__headline Data Dropdown
                include ../data-dropdown/data-dropdown.pug
                
            .filter-dropdown
                label(for="") 
                    h3.filter-dropdown__headline Filter Dropdown    
                include ../data-dd-filter/data-dd-filter.pug
            .email-subscription-field
                h3.email-subscription-field__header subscription textfield
                +email-subscribe(data.emailSubId, data.emailSubPlaceholder)
            include ../expend-checkbox/expend-checkbox.pug
        .flex-wrapper
            .flex-col  
                +room-feature(data.roomFeatureComfort.ImgName, data.roomFeatureComfort.Header, data.roomFeatureComfort.Body)
                +room-feature(data.roomFeatureUdobstvo.ImgName, data.roomFeatureUdobstvo.Header, data.roomFeatureUdobstvo.Body)
            include ../check-boxes/check-boxes.pug
            .radio-but
                h3.radio-but__headline Radio buttons
                p
                    +radio-button(data.radioId1, data.radioContent1, data.radioName)
                    +radio-button(data.radioId2, data.radioContent2, data.radioName)
            .toggle-but
                h3.toggle-but__headline Toggle
                .flex-wrapper
                    +toggle-button(data.toggleButtonId)
                    p.toggle-but__content Получать спецпредложения
        .flex-wrapper   
            .flex-column-wrapper 
                h3.flex-column-wrapper__headline like button
                +like-button(data.likeCount)
            .flex-column-wrapper
                h3.flex-column-wrapper__headline rate button
                +rate-button(data.ratingNumber0)
            .flex-column-wrapper
                +range-slider(data.rangeSliderLabel)
        .flex-wrapper
            .buttons-block
                h3.buttons-block__header Buttons
                .buttons-block__content    
                    .buttons-block__button-margin
                        +button(data.btnFillStyle, data.btnFillContent)  
                    .buttons-block__button-margin
                        +button(data.btnBorderStyle, data.btnBorderContent)    
                    .buttons-block__button-margin
                        a.link__purple(href='#') click me  
                    .buttons-block__button-margin
                        +button(data.btnLongStyle, data.btnLongContent)
            include ../pagination/pagination.pug
        .flex-wrapper
            .rich-checkbox
                h3.rich-checkbox__headline rich checkbox buttons
                include ../rich-check-box/rich-check-box.pug
            .bullet
                h3.bullet____headline Bullet list
                include ../bullet-list/bullet-list.pug     
        .flex-wrapper
            include ../review/review.pug

.form-elements
    .wrapper
        +forms({
            textfieldId: "textfield",
            textfieldPlaceholder: "Email",
            textfieldType: "text",
            maskedTextId: "maskedText",
            maskedTextPlaceholder: "ДД.ММ.ГГГГ",
            emailSubId: "subs2",
            emailSubPlaceholder: "Your email address",
            roomFeatureComfort: {
                    ImgName: "comfort",
                    Header: "Комфорт",
                    Body: "Шумопоглощающие стены"
                },
            roomFeatureUdobstvo: {
                    ImgName: "udobstvo",
                    Header: "Удобство",
                    Body: "Окно в каждой из спален"
                },
            radioId1: "test1",
            radioId2: "test2",
            radioContent1: "Мужчина",
            radioContent2: "Женщина",
            radioName: "radio-group",
            toggleButtonId: "cbx",
            likeCount: 5,
            ratingNumber0: 0,
            rangeSliderLabel: "Range Slider",
            btnFillContent: "click me",
            btnFillStyle: "fill",
            btnBorderContent: "click me",
            btnBorderStyle: "border",
            btnLongContent: "перейти к оплате",
            btnLongStyle: "long"

        })