mixin forms(data)
        .flex-wrapper
            .formText
                h3 Text field
                +textfield(data.textfieldId, data.textfieldPlaceholder, data.textfieldType)
                .dropdownRooms
                form(action="#").dropdown
                    h3 Dropdown
                    include ../dropdown-room/dropdown-room.pug
                
            
            .maskedText
                h3 Masked Textfield
                +masked-textfield(data.maskedTextId, data.maskedTextPlaceholder)
        .flex-wrapper   
            .date
                h3 Data Dropdown
                include ../data-dropdown/data-dropdown.pug
                
            .filterDropdown
                label(for="") 
                    h3 Filter Dropdown    
                include ../data-dd-filter/data-dd-filter.pug
            .email-subscription-field
                h3.email-subscription-field__header subscription textfield
                +email-subscribe(data.emailSubId, data.emailSubPlaceholder)
            include ../expend-checkbox/expend-checkbox.pug
        .flex-wrapper
            .flex-col  
                +room-feature(data.roomFeatureComfort.ImgName, data.roomFeatureComfort.Header, data.roomFeatureComfort.Body)
                +room-feature(data.roomFeatureUdobstvo.ImgName, data.roomFeatureUdobstvo.Header, data.roomFeatureUdobstvo.Body)
            include ../check-boxes/check-boxes.pug
            .radioBut
                h3 Radio buttons
                p
                    +radio-button(data.radioId1, data.radioContent1, data.radioName)
                    +radio-button(data.radioId2, data.radioContent2, data.radioName)
            .toggleBut
                    h3 Toggle
                    .flex-wrapper
                        +toggle-button(data.toggleButtonId)
                        p Получать спецпредложения
        .flex-wrapper   
            .flex-column-wrapper 
                h3 like button
                +like-button(data.likeCount)
            .flex-column-wrapper
                h3 rate button
                +rate-button(data.ratingNumber0)
            .flex-column-wrapper
                +range-slider(data.rangeSliderLabel)
        .flex-wrapper
            .buttons-block
                h3.buttons-block__header Buttons
                +button(data.btnFillStyle, data.btnFillContent)  
                +button(data.btnBorderStyle, data.btnBorderContent)    
                a.link__purple(href='#') click me  
                +button(data.btnLongStyle, data.btnLongContent)
            include ../pagination/pagination.pug
        .flex-wrapper
            .richChbox
                h3 rich checkbox buttons
                include ../rich-check-box/rich-check-box.pug
            .bullet
                h3 Bullet list
                include ../bullet-list/bullet-list.pug     
        .flex-wrapper
            include ../review/review.pug

.form-elements
    .wrapper
        +forms({
            textfieldId: "textfield",
            textfieldPlaceholder: "Email",
            textfieldType: "text",
            maskedTextId: "maskedText",
            maskedTextPlaceholder: "ДД.ММ.ГГГГ",
            emailSubId: "subs2",
            emailSubPlaceholder: "Your email address",
            roomFeatureComfort: {
                    ImgName: "comfort",
                    Header: "Комфорт",
                    Body: "Шумопоглощающие стены"
                },
            roomFeatureUdobstvo: {
                    ImgName: "udobstvo",
                    Header: "Удобство",
                    Body: "Окно в каждой из спален"
                },
            radioId1: "test1",
            radioId2: "test2",
            radioContent1: "Мужчина",
            radioContent2: "Женщина",
            radioName: "radio-group",
            toggleButtonId: "cbx",
            likeCount: 5,
            ratingNumber0: 0,
            rangeSliderLabel: "Range Slider",
            btnFillContent: "click me",
            btnFillStyle: "fill",
            btnBorderContent: "click me",
            btnBorderStyle: "border",
            btnLongContent: "перейти к оплате",
            btnLongStyle: "long"

        })