mixin forms({textfieldId='text id', textfieldPlaceholder='text placeholder', textfieldType='text', maskedTextId='masked id', maskedTextPlaceholder='masked placeholder', emailSubId='email id', emailSubPlaceholder='email placeholder', roomFeatureComfort={ImgName, Header, Body}, roomFeatureUdobstvo={ImgName, Header, Body}, radioId1='radio1', radioContent1='radio content1', radioName='radio name', radioId2='radio2', radioContent2='radio content2', radioName='radio name', toggleButtonId='toggle id', likeCount='5', ratingNumber0='2', rangeSliderLabel='range slider', buttonFillStyle='fill', buttonFillContent='button fill', buttonBorderStyle='border', buttonBorderContent='border button', buttonLongContent='long button', buttonLongStyle='long'}={})
        .flex-wrapper
            .form-text
                h3.form-text__headline Text field
                +textfield(textfieldId, textfieldPlaceholder, textfieldType)
                .dropdownRooms
                form(action="#").dropdown
                    h3.form-text__headline Dropdown
                    +dropdown-room("Параметры комнаты")
            .masked-text
                h3.maskedText__headline Masked Textfield
                +masked-textfield(maskedTextId, maskedTextPlaceholder)
        .flex-wrapper   
            .date
                h3.date__headline Data Dropdown
                .data-dropdown
                +data-dropdown()
            .filter-dropdown
                label(for="") 
                    h3.filter-dropdown__headline Filter Dropdown
                +data-dropdown-filter()    
            .email-subscription-field
                h3.email-subscription-field__header subscription textfield
                .email-subscribe-margin
                    +email-subscribe(emailSubId, emailSubPlaceholder)
            .expanded-checkbox-list-margin
                +expanded-checkbox-list({
                        first:{
                            id: "first",
                            content: "Завтрак"
                        },
                        second:{
                            id: "second",
                            content: "Письменный стол",
                            checked: true
                        },
                        third:{
                            id: "third",
                            content: "Стул для кормления",
                            checked: true
                        },
                        fourth:{
                            id: "fourth",
                            content: "Кроватка",
                            checked: true
                        },
                        fifth:{
                            id: "fifth",
                            content: "Телевизор"
                        },
                        sixth:{
                            id: "sixth",
                            content: "Шампунь"
                        },
                        seventh:{
                            id: "seventh",
                            content: "Телевизор"
                        },
                        eighth:{
                            id: "eighth",
                            content: "Шампунь"
                        }})
        .flex-wrapper
            .flex-col
                .room-feature-margin  
                    +room-feature(roomFeatureComfort.ImgName, roomFeatureComfort.Header, roomFeatureComfort.Body)
                .room-feature-margin  
                    +room-feature(roomFeatureUdobstvo.ImgName, roomFeatureUdobstvo.Header, roomFeatureUdobstvo.Body)
            form(action="#").checkboxes
                h3.checkboxes__header Checkbox buttons
                .checkbox-margin
                    +checkboxes({
                        first:{
                            id: "first",
                            content: "Завтрак"
                        },
                        second:{
                            id: "second",
                            content: "Письменный стол",
                            checked: true
                        },
                        third:{
                            id: "third",
                            content: "Стул для кормления",
                            checked: true
                        }
                    })
            .radio-but
                h3.radio-but__headline Radio buttons
                p
                    +radio-button(radioId1, radioContent1, radioName)
                    +radio-button(radioId2, radioContent2, radioName)
            .toggle-but
                h3.toggle-but__headline Toggle
                .flex-wrapper
                    .toggle-button 
                    +toggle-button(toggleButtonId)
                    p.toggle-but__content Получать спецпредложения
        .flex-wrapper   
            .flex-column-wrapper 
                h3.flex-column-wrapper__headline like button
                +like-button(likeCount)
            .flex-column-wrapper
                h3.flex-column-wrapper__headline rate button
                +rate-button(ratingNumber0)
            .flex-column-wrapper
                +range-slider(rangeSliderLabel)
        .flex-wrapper
            .buttons-block
                h3.buttons-block__header Buttons
                .buttons-block__content    
                    .buttons-block__button-margin
                        +button(buttonFillStyle, buttonFillContent)  
                    .buttons-block__button-margin
                        +button(buttonBorderStyle, buttonBorderContent)    
                    .buttons-block__button-margin
                        a.link__purple(href='#') click me  
                    .buttons-block__button-margin
                        +button(buttonLongStyle, buttonLongContent)
            +pagination({
                content: "1 – 12 из 100+ вариантов аренды",
                header: "pagination"
            })
        .flex-wrapper
            .rich-checkbox-margin
                .rich-checkbox
                    h3.rich-checkbox__headline rich checkbox buttons
                    +rich-checkbox({
                        first:{
                            id: "first",
                            header: "Широкий коридор",
                            content: "Ширина коридоров в номере не менее 91 см."
                        },
                        second:{
                            id: "second",
                            header: "Помощник для инвалидов",
                            content: "На 1 этаже вас встретит специалист  и проводит до номера.",
                            checked: true
                        }
                    })
            .bullet
                h3.bullet____headline Bullet list
                +bullet-list({
                    pet: "Нельзя с питомцами",
                    party: "Без вечеринок и мероприятий",
                    check_time: "Время прибытия — после 13:00, а выезд до 12:00"
                }) 
        .flex-wrapper
            +review({
                name: "Мурад Сарафанов",
                date: "5",
                likes: "11",
                content: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
            })
            

