.form-elements{
    .wrapper{
    flex-wrap: wrap;
    }
    .buttons-block{
        .button{
        margin: 0.9375rem;
        }
        .buttons-block__header{
            margin: 1.25rem;
        }
    }

    .email-subscription-field{
        .email-subscription-field__header{
          margin: 1.25rem 0 0 1.25rem;
        }
      }
}